USE [2BA_12]
GO
/****** Object:  Table [dbo].[AcCategories]    Script Date: 19-Apr-26 21:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcCategories](
	[AcCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AcCategories] PRIMARY KEY CLUSTERED 
(
	[AcCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcMainGroups]    Script Date: 19-Apr-26 21:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcMainGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
	[AcCategoryId] [int] NOT NULL,
	[BaseId] [int] NOT NULL,
 CONSTRAINT [PK_AcMainGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcStatusTypes]    Script Date: 19-Apr-26 21:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcStatusTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_AcStatusTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcTypes]    Script Date: 19-Apr-26 21:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[MaxGrossweight] [float] NOT NULL,
	[MaxPassengers] [int] NOT NULL,
	[SeatCount] [int] NOT NULL,
	[MaxEngines] [int] NOT NULL,
	[AcMainGroupId] [int] NOT NULL,
 CONSTRAINT [PK_AcTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AircraftDocuments]    Script Date: 19-Apr-26 21:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AircraftDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AircraftId] [int] NOT NULL,
	[DocumentTypeId] [int] NOT NULL,
	[ReferenceNo] [nvarchar](100) NULL,
	[Revision] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[IssuedAtUtc] [datetime2](7) NULL,
	[ValidFromUtc] [datetime2](7) NULL,
	[ValidUntilUtc] [datetime2](7) NULL,
	[IsCurrent] [bit] NOT NULL,
	[Status] [nvarchar](30) NULL,
	[StorageKey] [nvarchar](300) NULL,
	[FileName] [nvarchar](255) NULL,
	[ContentType] [nvarchar](100) NULL,
	[FileSizeBytes] [bigint] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](200) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_AircraftDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AircraftDocumentTypes]    Script Date: 19-Apr-26 21:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AircraftDocumentTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AircraftDocumentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AircraftDocumentTypes_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aircrafts]    Script Date: 19-Apr-26 21:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aircrafts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TailNo] [int] NOT NULL,
	[Registration] [nvarchar](50) NOT NULL,
	[SerialNumber] [nvarchar](100) NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[Model] [nvarchar](50) NULL,
	[ManufactureDate] [datetime2](7) NULL,
	[IntCode] [nvarchar](10) NULL,
	[Obs] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[Serviceable] [bit] NOT NULL,
	[AcTypeId] [int] NOT NULL,
	[AcStatusTypeId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Aircrafts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bases]    Script Date: 19-Apr-26 21:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaseName] [nvarchar](100) NOT NULL,
	[BaseNameLocal] [nvarchar](100) NULL,
 CONSTRAINT [PK_Bases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AircraftDocuments] ADD  CONSTRAINT [DF_AircraftDocuments_IsCurrent]  DEFAULT ((0)) FOR [IsCurrent]
GO
ALTER TABLE [dbo].[AircraftDocuments] ADD  CONSTRAINT [DF_AircraftDocuments_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[AircraftDocumentTypes] ADD  CONSTRAINT [DF_AircraftDocumentTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AcMainGroups]  WITH CHECK ADD  CONSTRAINT [FK_AcMainGroups_AcCategories_AcCategoryId] FOREIGN KEY([AcCategoryId])
REFERENCES [dbo].[AcCategories] ([AcCategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcMainGroups] CHECK CONSTRAINT [FK_AcMainGroups_AcCategories_AcCategoryId]
GO
ALTER TABLE [dbo].[AcMainGroups]  WITH CHECK ADD  CONSTRAINT [FK_AcMainGroups_Bases_BaseId] FOREIGN KEY([BaseId])
REFERENCES [dbo].[Bases] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcMainGroups] CHECK CONSTRAINT [FK_AcMainGroups_Bases_BaseId]
GO
ALTER TABLE [dbo].[AcTypes]  WITH CHECK ADD  CONSTRAINT [FK_AcTypes_AcMainGroups_AcMainGroupId] FOREIGN KEY([AcMainGroupId])
REFERENCES [dbo].[AcMainGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcTypes] CHECK CONSTRAINT [FK_AcTypes_AcMainGroups_AcMainGroupId]
GO
ALTER TABLE [dbo].[AircraftDocuments]  WITH CHECK ADD  CONSTRAINT [FK_AircraftDocuments_AircraftDocumentTypes_DocumentTypeId] FOREIGN KEY([DocumentTypeId])
REFERENCES [dbo].[AircraftDocumentTypes] ([Id])
GO
ALTER TABLE [dbo].[AircraftDocuments] CHECK CONSTRAINT [FK_AircraftDocuments_AircraftDocumentTypes_DocumentTypeId]
GO
ALTER TABLE [dbo].[AircraftDocuments]  WITH CHECK ADD  CONSTRAINT [FK_AircraftDocuments_Aircrafts_AircraftId] FOREIGN KEY([AircraftId])
REFERENCES [dbo].[Aircrafts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AircraftDocuments] CHECK CONSTRAINT [FK_AircraftDocuments_Aircrafts_AircraftId]
GO
ALTER TABLE [dbo].[Aircrafts]  WITH CHECK ADD  CONSTRAINT [FK_Aircrafts_AcStatusTypes_AcStatusTypeId] FOREIGN KEY([AcStatusTypeId])
REFERENCES [dbo].[AcStatusTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Aircrafts] CHECK CONSTRAINT [FK_Aircrafts_AcStatusTypes_AcStatusTypeId]
GO
ALTER TABLE [dbo].[Aircrafts]  WITH CHECK ADD  CONSTRAINT [FK_Aircrafts_AcTypes_AcTypeId] FOREIGN KEY([AcTypeId])
REFERENCES [dbo].[AcTypes] ([Id])
GO
ALTER TABLE [dbo].[Aircrafts] CHECK CONSTRAINT [FK_Aircrafts_AcTypes_AcTypeId]
GO
