--More tables if leftover
/****** Object:  Table [mro2].[AcCounter]    Script Date: 18-Apr-26 18:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[AcCounter](
	[AcCounterId] [int] IDENTITY(1,1) NOT NULL,
	[AcID] [int] NOT NULL,
	[CounterDefId] [int] NOT NULL,
	[CurrentValue] [int] NOT NULL,
	[PreviousValue] [int] NOT NULL,
	[LastUpdateSource] [varchar](10) NOT NULL,
	[SortieRef] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AcCounter] PRIMARY KEY CLUSTERED 
(
	[AcCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AcCounter_Ac_Counter] UNIQUE NONCLUSTERED 
(
	[AcID] ASC,
	[CounterDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[AcCounterLog]    Script Date: 18-Apr-26 18:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[AcCounterLog](
	[AcCounterLogId] [int] IDENTITY(1,1) NOT NULL,
	[AcID] [int] NOT NULL,
	[CounterDefId] [int] NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[OldValue] [int] NOT NULL,
	[NewValue] [int] NOT NULL,
	[Delta] [int] NOT NULL,
	[UpdateSource] [varchar](10) NOT NULL,
	[SortieRef] [nvarchar](50) NULL,
	[SNsPropagated] [int] NOT NULL,
	[LoggedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AcCounterLog] PRIMARY KEY CLUSTERED 
(
	[AcCounterLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[AcCounterSnapshot]    Script Date: 18-Apr-26 18:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[AcCounterSnapshot](
	[AcCounterSnapshotId] [int] IDENTITY(1,1) NOT NULL,
	[RecordEventId] [int] NOT NULL,
	[CounterDefId] [int] NOT NULL,
	[CounterValue] [int] NOT NULL,
 CONSTRAINT [PK_AcCounterSnapshot] PRIMARY KEY CLUSTERED 
(
	[AcCounterSnapshotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AcCounterSnapshot_Event_Counter] UNIQUE NONCLUSTERED 
(
	[RecordEventId] ASC,
	[CounterDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[SNTaskCounterExtension]    Script Date: 18-Apr-26 18:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[SNTaskCounterExtension](
	[SNTaskCounterExtensionId] [int] IDENTITY(1,1) NOT NULL,
	[SerializedItemId] [int] NOT NULL,
	[TaskCounterId] [int] NOT NULL,
	[ExtensionReasonId] [tinyint] NOT NULL,
	[ExtensionType] [varchar](5) NOT NULL,
	[ExtensionValue] [decimal](8, 2) NOT NULL,
	[CurrentIntervalAtExtension] [int] NOT NULL,
	[ComputedExtensionUnits] [int] NOT NULL,
	[MaxAllowedPct] [tinyint] NULL,
	[MaxAllowedValue] [int] NULL,
	[OriginalNextDueAt] [int] NOT NULL,
	[ExtendedNextDueAt] [int] NOT NULL,
	[Justification] [nvarchar](500) NOT NULL,
	[DocReference] [nvarchar](200) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovalDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ExpiredReason] [varchar](20) NULL,
	[ExpiredDate] [date] NULL,
	[ExpiredByUserId] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SNTaskCounterExtension] PRIMARY KEY CLUSTERED 
(
	[SNTaskCounterExtensionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[SNTaskCounterOverride]    Script Date: 18-Apr-26 18:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[SNTaskCounterOverride](
	[SNTaskCounterOverrideId] [int] IDENTITY(1,1) NOT NULL,
	[SerializedItemId] [int] NOT NULL,
	[TaskCounterId] [int] NOT NULL,
	[FirstThreshold] [int] NULL,
	[RepeatInterval] [int] NULL,
	[Ceiling] [int] NULL,
	[AlertThresholdPct] [tinyint] NULL,
	[OverrideReason] [nvarchar](500) NOT NULL,
	[AuthorisedBy] [nvarchar](100) NULL,
	[AuthorisedRef] [nvarchar](100) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpiryDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SNTaskCounterOverride] PRIMARY KEY CLUSTERED 
(
	[SNTaskCounterOverrideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_SNTaskCounterOverride_SN_TC] UNIQUE NONCLUSTERED 
(
	[SerializedItemId] ASC,
	[TaskCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[SNTaskCounterState]    Script Date: 18-Apr-26 18:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[SNTaskCounterState](
	[SNTaskCounterStateId] [int] IDENTITY(1,1) NOT NULL,
	[SerializedItemId] [int] NOT NULL,
	[TaskCounterId] [int] NOT NULL,
	[IsFirstDone] [bit] NOT NULL CONSTRAINT [DF_SNTCState_IsFirstDone]  DEFAULT ((0)),
	[AccumulatedSinceLast] [int] NOT NULL CONSTRAINT [DF_SNTCState_Accum]  DEFAULT ((0)),
	[LifetimeTotal] [int] NOT NULL CONSTRAINT [DF_SNTCState_Lifetime]  DEFAULT ((0)),
	[NextDueAt] [int] NOT NULL CONSTRAINT [DF_SNTCState_NextDueAt]  DEFAULT ((0)),
	[LastDoneAt] [int] NULL,
	[LastDoneDate] [date] NULL,
	[DoneCount] [smallint] NOT NULL CONSTRAINT [DF_SNTCState_DoneCount]  DEFAULT ((0)),
	[CounterStatus] [varchar](10) NOT NULL CONSTRAINT [DF_SNTCState_Status]  DEFAULT ('OK'),
	[RemainingToNextDue] [int] NOT NULL CONSTRAINT [DF_SNTCState_Remaining]  DEFAULT ((0)),
	[PctConsumed] [decimal](5, 1) NOT NULL CONSTRAINT [DF_SNTCState_PctConsumed]  DEFAULT ((0)),
	[ValueSource] [varchar](10) NOT NULL CONSTRAINT [DF_SNTCState_Source]  DEFAULT ('MANUAL'),
	[LastUpdatedDate] [datetime] NOT NULL CONSTRAINT [DF_SNTCState_Updated]  DEFAULT (getdate()),
	[LastUpdatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SNTaskCounterState] PRIMARY KEY CLUSTERED 
(
	[SNTaskCounterStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_SNTaskCounterState_SN_TC] UNIQUE NONCLUSTERED 
(
	[SerializedItemId] ASC,
	[TaskCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [mro2].[AcCounter] ADD  CONSTRAINT [DF_AcCounter_CurrentValue]  DEFAULT ((0)) FOR [CurrentValue]
GO
ALTER TABLE [mro2].[AcCounter] ADD  CONSTRAINT [DF_AcCounter_PreviousValue]  DEFAULT ((0)) FOR [PreviousValue]
GO
ALTER TABLE [mro2].[AcCounter] ADD  CONSTRAINT [DF_AcCounter_Source]  DEFAULT ('MANUAL') FOR [LastUpdateSource]
GO
ALTER TABLE [mro2].[AcCounter] ADD  CONSTRAINT [DF_AcCounter_Updated]  DEFAULT (getdate()) FOR [LastUpdatedDate]
GO
ALTER TABLE [mro2].[AcCounterLog] ADD  CONSTRAINT [DF_AcCounterLog_Date]  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [mro2].[AcCounterLog] ADD  CONSTRAINT [DF_AcCounterLog_SNs]  DEFAULT ((0)) FOR [SNsPropagated]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] ADD  CONSTRAINT [DF_SNTCExt_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] ADD  CONSTRAINT [DF_SNTCExt_Created]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] ADD  CONSTRAINT [DF_SNTCOverride_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] ADD  CONSTRAINT [DF_SNTCOverride_Created]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [mro2].[AcCounter]  WITH CHECK ADD  CONSTRAINT [FK_AcCounter_Aircraft] FOREIGN KEY([AcID])
REFERENCES [dbo].[tblAircraft] ([AcID])
GO
ALTER TABLE [mro2].[AcCounter] CHECK CONSTRAINT [FK_AcCounter_Aircraft]
GO
ALTER TABLE [mro2].[AcCounter]  WITH CHECK ADD  CONSTRAINT [FK_AcCounter_CounterDef] FOREIGN KEY([CounterDefId])
REFERENCES [mro2].[CounterDef] ([CounterDefId])
GO
ALTER TABLE [mro2].[AcCounter] CHECK CONSTRAINT [FK_AcCounter_CounterDef]
GO
ALTER TABLE [mro2].[AcCounterLog]  WITH CHECK ADD  CONSTRAINT [FK_AcCounterLog_Aircraft] FOREIGN KEY([AcID])
REFERENCES [dbo].[tblAircraft] ([AcID])
GO
ALTER TABLE [mro2].[AcCounterLog] CHECK CONSTRAINT [FK_AcCounterLog_Aircraft]
GO
ALTER TABLE [mro2].[AcCounterLog]  WITH CHECK ADD  CONSTRAINT [FK_AcCounterLog_CounterDef] FOREIGN KEY([CounterDefId])
REFERENCES [mro2].[CounterDef] ([CounterDefId])
GO
ALTER TABLE [mro2].[AcCounterLog] CHECK CONSTRAINT [FK_AcCounterLog_CounterDef]
GO
ALTER TABLE [mro2].[AcCounterSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_AcCS_CounterDef] FOREIGN KEY([CounterDefId])
REFERENCES [mro2].[CounterDef] ([CounterDefId])
GO
ALTER TABLE [mro2].[AcCounterSnapshot] CHECK CONSTRAINT [FK_AcCS_CounterDef]
GO
ALTER TABLE [mro2].[AcCounterSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_AcCS_RecordEvent] FOREIGN KEY([RecordEventId])
REFERENCES [mro2].[RecordEvent] ([RecordEventId])
GO
ALTER TABLE [mro2].[AcCounterSnapshot] CHECK CONSTRAINT [FK_AcCS_RecordEvent]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [FK_SNTCExt_Reason] FOREIGN KEY([ExtensionReasonId])
REFERENCES [mro2].[ExtensionReason] ([ExtensionReasonId])
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [FK_SNTCExt_Reason]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [FK_SNTCExt_SN] FOREIGN KEY([SerializedItemId])
REFERENCES [mro2].[SerializedItem] ([SerializedItemId])
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [FK_SNTCExt_SN]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [FK_SNTCExt_TC] FOREIGN KEY([TaskCounterId])
REFERENCES [mro2].[TaskCounter] ([TaskCounterId])
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [FK_SNTCExt_TC]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride]  WITH CHECK ADD  CONSTRAINT [FK_SNTCOverride_SN] FOREIGN KEY([SerializedItemId])
REFERENCES [mro2].[SerializedItem] ([SerializedItemId])
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] CHECK CONSTRAINT [FK_SNTCOverride_SN]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride]  WITH CHECK ADD  CONSTRAINT [FK_SNTCOverride_TC] FOREIGN KEY([TaskCounterId])
REFERENCES [mro2].[TaskCounter] ([TaskCounterId])
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] CHECK CONSTRAINT [FK_SNTCOverride_TC]
GO
ALTER TABLE [mro2].[SNTaskCounterState]  WITH CHECK ADD  CONSTRAINT [FK_SNTCState_SN] FOREIGN KEY([SerializedItemId])
REFERENCES [mro2].[SerializedItem] ([SerializedItemId])
GO
ALTER TABLE [mro2].[SNTaskCounterState] CHECK CONSTRAINT [FK_SNTCState_SN]
GO
ALTER TABLE [mro2].[SNTaskCounterState]  WITH CHECK ADD  CONSTRAINT [FK_SNTCState_TC] FOREIGN KEY([TaskCounterId])
REFERENCES [mro2].[TaskCounter] ([TaskCounterId])
GO
ALTER TABLE [mro2].[SNTaskCounterState] CHECK CONSTRAINT [FK_SNTCState_TC]
GO
ALTER TABLE [mro2].[AcCounter]  WITH CHECK ADD  CONSTRAINT [CK_AcCounter_Source] CHECK  (([LastUpdateSource]='MANUAL' OR [LastUpdateSource]='AUTO'))
GO
ALTER TABLE [mro2].[AcCounter] CHECK CONSTRAINT [CK_AcCounter_Source]
GO
ALTER TABLE [mro2].[AcCounter]  WITH CHECK ADD  CONSTRAINT [CK_AcCounter_Value] CHECK  (([CurrentValue]>=(0)))
GO
ALTER TABLE [mro2].[AcCounter] CHECK CONSTRAINT [CK_AcCounter_Value]
GO
ALTER TABLE [mro2].[AcCounterLog]  WITH CHECK ADD  CONSTRAINT [CK_AcCounterLog_Source] CHECK  (([UpdateSource]='MANUAL' OR [UpdateSource]='AUTO'))
GO
ALTER TABLE [mro2].[AcCounterLog] CHECK CONSTRAINT [CK_AcCounterLog_Source]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_Computed] CHECK  (([ComputedExtensionUnits]>(0)))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_Computed]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_ExpiredReason] CHECK  (([ExpiredReason] IS NULL OR ([ExpiredReason]='REVOKED' OR [ExpiredReason]='ACCOMPLISHED')))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_ExpiredReason]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_Extended] CHECK  (([ExtendedNextDueAt]>[OriginalNextDueAt]))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_Extended]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_Type] CHECK  (([ExtensionType]='PCT' OR [ExtensionType]='VALUE'))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_Type]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_Value] CHECK  (([ExtensionValue]>(0)))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_Value]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride]  WITH CHECK ADD  CONSTRAINT [CK_SNTCOverride_AlertPct] CHECK  (([AlertThresholdPct] IS NULL OR [AlertThresholdPct]>=(1) AND [AlertThresholdPct]<=(99)))
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] CHECK CONSTRAINT [CK_SNTCOverride_AlertPct]
GO
ALTER TABLE [mro2].[SNTaskCounterState]  WITH CHECK ADD  CONSTRAINT [CK_SNTCState_Source] CHECK  (([ValueSource]='PRORATE' OR [ValueSource]='MANUAL' OR [ValueSource]='AUTO'))
GO
ALTER TABLE [mro2].[SNTaskCounterState] CHECK CONSTRAINT [CK_SNTCState_Source]
GO
ALTER TABLE [mro2].[SNTaskCounterState]  WITH CHECK ADD  CONSTRAINT [CK_SNTCState_Status] CHECK  (([CounterStatus]='COMPLETE' OR [CounterStatus]='EXPIRED' OR [CounterStatus]='OVERDUE' OR [CounterStatus]='DUE' OR [CounterStatus]='ALERT' OR [CounterStatus]='OK'))
GO
ALTER TABLE [mro2].[SNTaskCounterState] CHECK CONSTRAINT [CK_SNTCState_Status]
GO
