--CoutersTables
/****** Object:  Table [mro2].[ComputationReference]    Script Date: 18-Apr-26 18:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[ComputationReference](
	[ComputationReferenceId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](30) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CompRef_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CompRef_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_CompRef_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_ComputationReference] PRIMARY KEY CLUSTERED 
(
	[ComputationReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ComputationReference_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[CounterBasis]    Script Date: 18-Apr-26 18:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[CounterBasis](
	[CounterBasisId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CounterBasis_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CounterBasis_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_CounterBasis] PRIMARY KEY CLUSTERED 
(
	[CounterBasisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CounterBasis_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[CounterDef]    Script Date: 18-Apr-26 18:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[CounterDef](
	[CounterDefId] [int] IDENTITY(1,1) NOT NULL,
	[CounterTypeId] [smallint] NOT NULL,
	[Code] [varchar](30) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[AppliesToAssetKindCode] [varchar](20) NOT NULL CONSTRAINT [DF_CounterDef_AssetKind]  DEFAULT ('AIRCRAFT'),
	[UnitStorage] [varchar](10) NOT NULL CONSTRAINT [DF_CounterDef_UnitStorage]  DEFAULT ('COUNT'),
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CounterDef_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CounterDef_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_CounterDef_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CounterDef] PRIMARY KEY CLUSTERED 
(
	[CounterDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CounterDef_Type_Code] UNIQUE NONCLUSTERED 
(
	[CounterTypeId] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[CounterReference]    Script Date: 18-Apr-26 18:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[CounterReference](
	[CounterReferenceId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](30) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[RefCategory] [varchar](20) NOT NULL CONSTRAINT [DF_CounterRef_Category]  DEFAULT ('EVENT'),
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CounterRef_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CounterRef_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_CounterRef_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CounterReference] PRIMARY KEY CLUSTERED 
(
	[CounterReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CounterReference_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[CounterType]    Script Date: 18-Apr-26 18:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[CounterType](
	[CounterTypeId] [smallint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UnitStorage] [varchar](10) NOT NULL CONSTRAINT [DF_CounterType_UnitStorage]  DEFAULT ('COUNT'),
	[DisplayUnit] [varchar](20) NOT NULL,
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CounterType_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CounterType_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_CounterType_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CounterType] PRIMARY KEY CLUSTERED 
(
	[CounterTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CounterType_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [mro2].[CounterDef]  WITH CHECK ADD  CONSTRAINT [FK_CounterDef_CounterType] FOREIGN KEY([CounterTypeId])
REFERENCES [mro2].[CounterType] ([CounterTypeId])
GO
ALTER TABLE [mro2].[CounterDef] CHECK CONSTRAINT [FK_CounterDef_CounterType]
GO
ALTER TABLE [mro2].[CounterDef]  WITH CHECK ADD  CONSTRAINT [CK_CounterDef_AssetKind] CHECK  (([AppliesToAssetKindCode]='COMPONENT' OR [AppliesToAssetKindCode]='AIRCRAFT'))
GO
ALTER TABLE [mro2].[CounterDef] CHECK CONSTRAINT [CK_CounterDef_AssetKind]
GO
ALTER TABLE [mro2].[CounterDef]  WITH CHECK ADD  CONSTRAINT [CK_CounterDef_UnitStorage] CHECK  (([UnitStorage]='COUNT' OR [UnitStorage]='MINUTES'))
GO
ALTER TABLE [mro2].[CounterDef] CHECK CONSTRAINT [CK_CounterDef_UnitStorage]
GO
ALTER TABLE [mro2].[CounterReference]  WITH CHECK ADD  CONSTRAINT [CK_CounterRef_Category] CHECK  (([RefCategory]='DOCUMENT' OR [RefCategory]='EVENT'))
GO
ALTER TABLE [mro2].[CounterReference] CHECK CONSTRAINT [CK_CounterRef_Category]
GO
ALTER TABLE [mro2].[CounterType]  WITH CHECK ADD  CONSTRAINT [CK_CounterType_UnitStorage] CHECK  (([UnitStorage]='COUNT' OR [UnitStorage]='MINUTES'))
GO
ALTER TABLE [mro2].[CounterType] CHECK CONSTRAINT [CK_CounterType_UnitStorage]
GO
