USE [DB2BAFRA]
GO
/****** Object:  Table [dbo].[tblAcGeoPositionType]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAcGeoPositionType](
	[AcGeoPosID] [int] IDENTITY(1,1) NOT NULL,
	[AcGeoPosition] [nvarchar](50) NULL,
	[ZoneType] [nvarchar](30) NULL,
 CONSTRAINT [PK_tblAcGeoPositionType] PRIMARY KEY CLUSTERED 
(
	[AcGeoPosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblAcMainGroup]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAcMainGroup](
	[AcMainGroupID] [int] IDENTITY(1,1) NOT NULL,
	[AcMainGroup] [nvarchar](50) NULL,
	[Description] [nchar](50) NULL,
	[BaseId] [int] NULL,
	[Active] [bit] NULL CONSTRAINT [DF_tblAcMainGroup_Active]  DEFAULT ((1)),
	[AcCategory] [nvarchar](20) NULL,
 CONSTRAINT [PK_tblAcMainGroup] PRIMARY KEY CLUSTERED 
(
	[AcMainGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblAcStatus]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAcStatus](
	[AcStatusID] [int] IDENTITY(1,1) NOT NULL,
	[AcID] [int] NOT NULL,
	[AcStatusTypeID] [int] NOT NULL,
	[AcStatusDate] [date] NULL CONSTRAINT [DF_Table_1_WxDate]  DEFAULT (getdate()),
	[UpdatedTime] [datetime] NULL CONSTRAINT [DF_tblAcDispo_UpdatedTime]  DEFAULT (sysdatetime()),
	[UnserviceableReason] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[OBS] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblAcDispo] PRIMARY KEY CLUSTERED 
(
	[AcStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblAcStatusType]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAcStatusType](
	[AcStatusTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AcStatusType] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblAcStatus] PRIMARY KEY CLUSTERED 
(
	[AcStatusTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblAcType]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAcType](
	[AcTypeId] [int] IDENTITY(1,1) NOT NULL,
	[AcType] [nvarchar](50) NOT NULL,
	[AcMainGroupID] [int] NOT NULL,
	[MaxGrossWeight] [float] NULL,
	[ItemSuppId] [int] NULL,
 CONSTRAINT [PK_AcType] PRIMARY KEY CLUSTERED 
(
	[AcTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblAircraft]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAircraft](
	[AcID] [int] IDENTITY(1,1) NOT NULL,
	[AcTypeID] [int] NOT NULL,
	[TailNo] [int] NULL,
	[AcMainGroupID] [int] NOT NULL CONSTRAINT [DF_tblAircraft_AcMainGroupID]  DEFAULT ((1)),
	[AcGeoPosID] [int] NOT NULL CONSTRAINT [DF_tblAircraft_AcStatusTypeID]  DEFAULT ((1)),
	[AcStatusTypeID] [int] NOT NULL CONSTRAINT [DF_tblAircraft_AcStatusTypeID_1]  DEFAULT ((1)),
	[Active] [bit] NULL CONSTRAINT [DF_tblAircraft_Active]  DEFAULT ((1)),
	[Serviceable] [bit] NULL CONSTRAINT [DF_tblAircraft_serviceable]  DEFAULT ((1)),
	[Obs] [nvarchar](max) NULL,
	[Dec2016Hours] [float] NULL,
	[Dec2016Minutes] [float] NULL,
	[Dec2016Lndgs] [int] NULL,
	[IntCode] [nchar](10) NULL,
	[UpdatedDate] [date] NULL CONSTRAINT [DF_tblAircraft_UpdatedDate]  DEFAULT (getdate()),
	[Dec2016HDV]  AS ([Dec2016Hours]*(60)+[Dec2016Minutes]),
	[HDV_UpdatedDate] [date] NULL,
	[HDV_Updated] [float] NULL,
	[ItemSuppId] [int] NULL,
 CONSTRAINT [PK_tblAircraft] PRIMARY KEY CLUSTERED 
(
	[AcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBase]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBase](
	[BaseID] [int] IDENTITY(1,1) NOT NULL,
	[BASE] [nvarchar](20) NULL,
	[NOM] [nvarchar](50) NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
 CONSTRAINT [PK_tblBase] PRIMARY KEY CLUSTERED 
(
	[BaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[AcCounter]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[AcCounter](
	[AcCounterId] [int] IDENTITY(1,1) NOT NULL,
	[AcID] [int] NOT NULL,
	[CounterDefId] [int] NOT NULL,
	[CurrentValue] [int] NOT NULL,
	[PreviousValue] [int] NOT NULL,
	[LastUpdateSource] [varchar](10) NOT NULL,
	[SortieRef] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AcCounter] PRIMARY KEY CLUSTERED 
(
	[AcCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AcCounter_Ac_Counter] UNIQUE NONCLUSTERED 
(
	[AcID] ASC,
	[CounterDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[AcCounterLog]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[AcCounterLog](
	[AcCounterLogId] [int] IDENTITY(1,1) NOT NULL,
	[AcID] [int] NOT NULL,
	[CounterDefId] [int] NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[OldValue] [int] NOT NULL,
	[NewValue] [int] NOT NULL,
	[Delta] [int] NOT NULL,
	[UpdateSource] [varchar](10) NOT NULL,
	[SortieRef] [nvarchar](50) NULL,
	[SNsPropagated] [int] NOT NULL,
	[LoggedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AcCounterLog] PRIMARY KEY CLUSTERED 
(
	[AcCounterLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[AcCounterSnapshot]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[AcCounterSnapshot](
	[AcCounterSnapshotId] [int] IDENTITY(1,1) NOT NULL,
	[RecordEventId] [int] NOT NULL,
	[CounterDefId] [int] NOT NULL,
	[CounterValue] [int] NOT NULL,
 CONSTRAINT [PK_AcCounterSnapshot] PRIMARY KEY CLUSTERED 
(
	[AcCounterSnapshotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AcCounterSnapshot_Event_Counter] UNIQUE NONCLUSTERED 
(
	[RecordEventId] ASC,
	[CounterDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[AcPosition]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[AcPosition](
	[AcPositionId] [int] IDENTITY(1,1) NOT NULL,
	[AcID] [int] NOT NULL,
	[AcPositionTemplateId] [int] NULL,
	[ParentAcPositionId] [int] NULL,
	[PositionLevel] [tinyint] NOT NULL,
	[PositionCode] [varchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[ATAId] [int] NULL,
	[Quantity] [tinyint] NOT NULL CONSTRAINT [DF_AcPos_Qty]  DEFAULT ((1)),
	[IsInterchangeable] [bit] NOT NULL CONSTRAINT [DF_AcPos_Interch]  DEFAULT ((0)),
	[IsOverride] [bit] NOT NULL CONSTRAINT [DF_AcPos_IsOverride]  DEFAULT ((0)),
	[SortOrder] [smallint] NOT NULL CONSTRAINT [DF_AcPos_Sort]  DEFAULT ((100)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_AcPos_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_AcPos_Created]  DEFAULT (getdate()),
	[CreatedByUserId] [nvarchar](50) NOT NULL,
	[SlotNo] [tinyint] NULL,
 CONSTRAINT [PK_AcPosition] PRIMARY KEY CLUSTERED 
(
	[AcPositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AcPosition_Tail_Code] UNIQUE NONCLUSTERED 
(
	[AcID] ASC,
	[PositionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[AcPositionPN]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[AcPositionPN](
	[AcPositionPNId] [int] IDENTITY(1,1) NOT NULL,
	[AcPositionTemplateId] [int] NOT NULL,
	[PartNumberId] [int] NOT NULL,
	[IsPrimary] [bit] NOT NULL CONSTRAINT [DF_AcPosPN_IsPrimary]  DEFAULT ((1)),
	[Notes] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_AcPosPN_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_AcPosPN_Created]  DEFAULT (getdate()),
	[CreatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AcPositionPN] PRIMARY KEY CLUSTERED 
(
	[AcPositionPNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AcPositionPN_Pos_PN] UNIQUE NONCLUSTERED 
(
	[AcPositionTemplateId] ASC,
	[PartNumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[AcPositionTemplate]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[AcPositionTemplate](
	[AcPositionTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[AcTypeId] [int] NOT NULL,
	[ParentTemplatePositionId] [int] NULL,
	[PositionLevel] [tinyint] NOT NULL,
	[PositionCode] [varchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[ATAId] [int] NULL,
	[Quantity] [tinyint] NOT NULL CONSTRAINT [DF_AcPosTmpl_Qty]  DEFAULT ((1)),
	[IsInterchangeable] [bit] NOT NULL CONSTRAINT [DF_AcPosTmpl_Interch]  DEFAULT ((0)),
	[SortOrder] [smallint] NOT NULL CONSTRAINT [DF_AcPosTmpl_Sort]  DEFAULT ((100)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_AcPosTmpl_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_AcPosTmpl_Created]  DEFAULT (getdate()),
	[CreatedByUserId] [nvarchar](50) NOT NULL,
	[IsRequired] [bit] NOT NULL CONSTRAINT [DF_AcPosTpl_IsRequired]  DEFAULT ((0)),
 CONSTRAINT [PK_AcPositionTemplate] PRIMARY KEY CLUSTERED 
(
	[AcPositionTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_AcPosTmpl_Type_Code] UNIQUE NONCLUSTERED 
(
	[AcTypeId] ASC,
	[PositionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[AcTypeSupportModelMap]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[AcTypeSupportModelMap](
	[AcTypeSupportModelMapId] [int] IDENTITY(1,1) NOT NULL,
	[AcTypeId] [int] NOT NULL,
	[SupportModelId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_AcTypeSupportModelMap_IsActive]  DEFAULT ((1)),
	[Notes] [nvarchar](200) NULL,
 CONSTRAINT [PK_mro2_AcTypeSupportModelMap] PRIMARY KEY CLUSTERED 
(
	[AcTypeSupportModelMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_AcTypeSupportModelMap] UNIQUE NONCLUSTERED 
(
	[AcTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[AircraftSupportModel]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[AircraftSupportModel](
	[AircraftSupportModelId] [int] IDENTITY(1,1) NOT NULL,
	[AcID] [int] NOT NULL,
	[SupportModelId] [int] NOT NULL,
	[EffectiveFromDate] [date] NOT NULL CONSTRAINT [DF_mro2_AircraftSupportModel_From]  DEFAULT (CONVERT([date],getutcdate(),0)),
	[EffectiveToDate] [date] NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_AircraftSupportModel_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_mro2_AircraftSupportModel] PRIMARY KEY CLUSTERED 
(
	[AircraftSupportModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_AircraftSupportModel] UNIQUE NONCLUSTERED 
(
	[AcID] ASC,
	[EffectiveFromDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[ComputationReference]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[ComputationReference](
	[ComputationReferenceId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](30) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CompRef_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CompRef_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_CompRef_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_ComputationReference] PRIMARY KEY CLUSTERED 
(
	[ComputationReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ComputationReference_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[CounterBasis]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[CounterBasis](
	[CounterBasisId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CounterBasis_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CounterBasis_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_CounterBasis] PRIMARY KEY CLUSTERED 
(
	[CounterBasisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CounterBasis_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[CounterDef]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[CounterDef](
	[CounterDefId] [int] IDENTITY(1,1) NOT NULL,
	[CounterTypeId] [smallint] NOT NULL,
	[Code] [varchar](30) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[AppliesToAssetKindCode] [varchar](20) NOT NULL CONSTRAINT [DF_CounterDef_AssetKind]  DEFAULT ('AIRCRAFT'),
	[UnitStorage] [varchar](10) NOT NULL CONSTRAINT [DF_CounterDef_UnitStorage]  DEFAULT ('COUNT'),
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CounterDef_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CounterDef_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_CounterDef_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CounterDef] PRIMARY KEY CLUSTERED 
(
	[CounterDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CounterDef_Type_Code] UNIQUE NONCLUSTERED 
(
	[CounterTypeId] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[CounterReference]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[CounterReference](
	[CounterReferenceId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](30) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[RefCategory] [varchar](20) NOT NULL CONSTRAINT [DF_CounterRef_Category]  DEFAULT ('EVENT'),
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CounterRef_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CounterRef_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_CounterRef_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CounterReference] PRIMARY KEY CLUSTERED 
(
	[CounterReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CounterReference_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[CounterType]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[CounterType](
	[CounterTypeId] [smallint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UnitStorage] [varchar](10) NOT NULL CONSTRAINT [DF_CounterType_UnitStorage]  DEFAULT ('COUNT'),
	[DisplayUnit] [varchar](20) NOT NULL,
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_CounterType_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_CounterType_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_CounterType_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_CounterType] PRIMARY KEY CLUSTERED 
(
	[CounterTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CounterType_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[ExtensionReason]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[ExtensionReason](
	[ExtensionReasonId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[RequiresDocRef] [bit] NOT NULL CONSTRAINT [DF_ExtReason_DocRef]  DEFAULT ((0)),
	[RequiresApprover] [bit] NOT NULL CONSTRAINT [DF_ExtReason_Approver]  DEFAULT ((0)),
	[BadgeColor] [varchar](20) NOT NULL CONSTRAINT [DF_ExtReason_Color]  DEFAULT ('secondary'),
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_ExtReason_Sort]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_ExtReason_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_ExtensionReason] PRIMARY KEY CLUSTERED 
(
	[ExtensionReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ExtensionReason_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[InstallPosition]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[InstallPosition](
	[InstallPositionId] [int] IDENTITY(1,1) NOT NULL,
	[AcID] [int] NOT NULL,
	[SupportPositionDefId] [int] NOT NULL,
	[PositionCode] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[IsRequired] [bit] NOT NULL CONSTRAINT [DF_mro2_InstallPosition_IsRequired]  DEFAULT ((1)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_InstallPosition_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_mro2_InstallPosition] PRIMARY KEY CLUSTERED 
(
	[InstallPositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_InstallPosition] UNIQUE NONCLUSTERED 
(
	[AcID] ASC,
	[SupportPositionDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[LimitType]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[LimitType](
	[LimitTypeId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[BadgeColor] [varchar](20) NOT NULL CONSTRAINT [DF_LimitType_BadgeColor]  DEFAULT ('secondary'),
	[SortOrder] [tinyint] NOT NULL CONSTRAINT [DF_LimitType_SortOrder]  DEFAULT ((99)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_LimitType_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_LimitType] PRIMARY KEY CLUSTERED 
(
	[LimitTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_LimitType_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[LimitTypeReferenceMap]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[LimitTypeReferenceMap](
	[LimitTypeReferenceMapId] [int] IDENTITY(1,1) NOT NULL,
	[LimitTypeId] [tinyint] NOT NULL,
	[ComputationReferenceId] [tinyint] NOT NULL,
	[IsDefault] [bit] NOT NULL CONSTRAINT [DF_LTRefMap_IsDefault]  DEFAULT ((0)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_LTRefMap_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_LimitTypeReferenceMap] PRIMARY KEY CLUSTERED 
(
	[LimitTypeReferenceMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_LimitTypeRefMap_Pair] UNIQUE NONCLUSTERED 
(
	[LimitTypeId] ASC,
	[ComputationReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[PartNumber]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[PartNumber](
	[PartNumberId] [int] IDENTITY(1,1) NOT NULL,
	[PN] [nvarchar](60) NOT NULL,
	[Nomenclature] [nvarchar](200) NULL,
	[ATAId] [int] NULL,
	[IsSerialized] [bit] NOT NULL CONSTRAINT [DF_mro2_PartNumber_IsSerialized]  DEFAULT ((1)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_PartNumber_IsActive]  DEFAULT ((1)),
	[UnitOfMeasureId] [int] NULL,
	[AcMainGroupID] [int] NULL,
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_PartNumber_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_mro2_PartNumber] PRIMARY KEY CLUSTERED 
(
	[PartNumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_PartNumber_PN] UNIQUE NONCLUSTERED 
(
	[PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[PNLimit]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[PNLimit](
	[PNLimitId] [int] IDENTITY(1,1) NOT NULL,
	[PartNumberId] [int] NOT NULL,
	[LimitTypeId] [tinyint] NULL,
	[HardLimit] [decimal](10, 1) NOT NULL,
	[AlertThresholdPct] [tinyint] NOT NULL CONSTRAINT [DF_PNLimit_AlertPct]  DEFAULT ((90)),
	[CounterReferenceId] [int] NULL,
	[IsPhased] [bit] NOT NULL CONSTRAINT [DF_PNLimit_IsPhased]  DEFAULT ((0)),
	[Notes] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_PNLimit_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_PNLimit_CreatedDate]  DEFAULT (getdate()),
	[CreatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PNLimit] PRIMARY KEY CLUSTERED 
(
	[PNLimitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[RecordEvent]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[RecordEvent](
	[RecordEventId] [int] IDENTITY(1,1) NOT NULL,
	[EventType] [varchar](10) NOT NULL,
	[SerializedItemId] [int] NOT NULL,
	[AcID] [int] NOT NULL,
	[AcPositionId] [int] NOT NULL,
	[EventDate] [date] NOT NULL,
	[EventTime] [time](0) NULL,
	[TransferGroupId] [uniqueidentifier] NULL,
	[TaskCounterId] [int] NULL,
	[PerformedByUserId] [nvarchar](50) NOT NULL,
	[AuthorisedByUserId] [nvarchar](50) NULL,
	[WorkOrderRef] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_RecordEvent_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_RecordEvent_Created]  DEFAULT (getdate()),
	[CreatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RecordEvent] PRIMARY KEY CLUSTERED 
(
	[RecordEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[SerializedItem]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[SerializedItem](
	[SerializedItemId] [int] IDENTITY(1,1) NOT NULL,
	[PartNumberId] [int] NOT NULL,
	[SerialNumber] [nvarchar](80) NOT NULL,
	[ManufacturedDate] [date] NULL,
	[ReceivedDate] [date] NULL,
	[StatusCode] [nvarchar](20) NOT NULL CONSTRAINT [DF_mro2_SerializedItem_StatusCode]  DEFAULT (N'ACTIVE'),
	[Notes] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_SerializedItem_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NULL CONSTRAINT [DF_SerializedItem_CreatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_mro2_SerializedItem] PRIMARY KEY CLUSTERED 
(
	[SerializedItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_SerializedItem] UNIQUE NONCLUSTERED 
(
	[PartNumberId] ASC,
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[SerializedItemCurrentInstall]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[SerializedItemCurrentInstall](
	[SerializedItemId] [int] NOT NULL,
	[ParentAssetKindId] [tinyint] NOT NULL,
	[ParentAssetId] [int] NOT NULL,
	[InstallPositionId] [int] NULL,
	[InstalledOnDate] [datetime2](0) NOT NULL,
	[LastInstallEventId] [bigint] NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_SerializedItemCurrentInstall_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_mro2_SerializedItemCurrentInstall] PRIMARY KEY CLUSTERED 
(
	[SerializedItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[SerializedItemInstallEvent]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[SerializedItemInstallEvent](
	[InstallEventId] [bigint] IDENTITY(1,1) NOT NULL,
	[EventUtcDateTime] [datetime2](0) NOT NULL CONSTRAINT [DF_mro2_SerializedItemInstallEvent_EventUtc]  DEFAULT (sysutcdatetime()),
	[SerializedItemId] [int] NOT NULL,
	[ActionCode] [nvarchar](20) NOT NULL,
	[FromParentAssetKindId] [tinyint] NULL,
	[FromParentAssetId] [int] NULL,
	[FromInstallPositionId] [int] NULL,
	[ToParentAssetKindId] [tinyint] NULL,
	[ToParentAssetId] [int] NULL,
	[ToInstallPositionId] [int] NULL,
	[PerformedBy] [nvarchar](128) NULL,
	[SourceSystem] [nvarchar](50) NULL,
	[ReasonCode] [nvarchar](50) NULL,
	[Notes] [nvarchar](4000) NULL,
	[WorkOrderNo] [nvarchar](50) NULL,
	[TaskCardNo] [nvarchar](50) NULL,
	[ReleaseToServiceRef] [nvarchar](80) NULL,
	[Station] [nvarchar](20) NULL,
	[CertifyingStaff] [nvarchar](80) NULL,
	[DocumentRef] [nvarchar](120) NULL,
 CONSTRAINT [PK_mro2_SerializedItemInstallEvent] PRIMARY KEY CLUSTERED 
(
	[InstallEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[SNTaskCounterExtension]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[SNTaskCounterExtension](
	[SNTaskCounterExtensionId] [int] IDENTITY(1,1) NOT NULL,
	[SerializedItemId] [int] NOT NULL,
	[TaskCounterId] [int] NOT NULL,
	[ExtensionReasonId] [tinyint] NOT NULL,
	[ExtensionType] [varchar](5) NOT NULL,
	[ExtensionValue] [decimal](8, 2) NOT NULL,
	[CurrentIntervalAtExtension] [int] NOT NULL,
	[ComputedExtensionUnits] [int] NOT NULL,
	[MaxAllowedPct] [tinyint] NULL,
	[MaxAllowedValue] [int] NULL,
	[OriginalNextDueAt] [int] NOT NULL,
	[ExtendedNextDueAt] [int] NOT NULL,
	[Justification] [nvarchar](500) NOT NULL,
	[DocReference] [nvarchar](200) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovalDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ExpiredReason] [varchar](20) NULL,
	[ExpiredDate] [date] NULL,
	[ExpiredByUserId] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SNTaskCounterExtension] PRIMARY KEY CLUSTERED 
(
	[SNTaskCounterExtensionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[SNTaskCounterOverride]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[SNTaskCounterOverride](
	[SNTaskCounterOverrideId] [int] IDENTITY(1,1) NOT NULL,
	[SerializedItemId] [int] NOT NULL,
	[TaskCounterId] [int] NOT NULL,
	[FirstThreshold] [int] NULL,
	[RepeatInterval] [int] NULL,
	[Ceiling] [int] NULL,
	[AlertThresholdPct] [tinyint] NULL,
	[OverrideReason] [nvarchar](500) NOT NULL,
	[AuthorisedBy] [nvarchar](100) NULL,
	[AuthorisedRef] [nvarchar](100) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpiryDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SNTaskCounterOverride] PRIMARY KEY CLUSTERED 
(
	[SNTaskCounterOverrideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_SNTaskCounterOverride_SN_TC] UNIQUE NONCLUSTERED 
(
	[SerializedItemId] ASC,
	[TaskCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[SNTaskCounterState]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [mro2].[SNTaskCounterState](
	[SNTaskCounterStateId] [int] IDENTITY(1,1) NOT NULL,
	[SerializedItemId] [int] NOT NULL,
	[TaskCounterId] [int] NOT NULL,
	[IsFirstDone] [bit] NOT NULL CONSTRAINT [DF_SNTCState_IsFirstDone]  DEFAULT ((0)),
	[AccumulatedSinceLast] [int] NOT NULL CONSTRAINT [DF_SNTCState_Accum]  DEFAULT ((0)),
	[LifetimeTotal] [int] NOT NULL CONSTRAINT [DF_SNTCState_Lifetime]  DEFAULT ((0)),
	[NextDueAt] [int] NOT NULL CONSTRAINT [DF_SNTCState_NextDueAt]  DEFAULT ((0)),
	[LastDoneAt] [int] NULL,
	[LastDoneDate] [date] NULL,
	[DoneCount] [smallint] NOT NULL CONSTRAINT [DF_SNTCState_DoneCount]  DEFAULT ((0)),
	[CounterStatus] [varchar](10) NOT NULL CONSTRAINT [DF_SNTCState_Status]  DEFAULT ('OK'),
	[RemainingToNextDue] [int] NOT NULL CONSTRAINT [DF_SNTCState_Remaining]  DEFAULT ((0)),
	[PctConsumed] [decimal](5, 1) NOT NULL CONSTRAINT [DF_SNTCState_PctConsumed]  DEFAULT ((0)),
	[ValueSource] [varchar](10) NOT NULL CONSTRAINT [DF_SNTCState_Source]  DEFAULT ('MANUAL'),
	[LastUpdatedDate] [datetime] NOT NULL CONSTRAINT [DF_SNTCState_Updated]  DEFAULT (getdate()),
	[LastUpdatedByUserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SNTaskCounterState] PRIMARY KEY CLUSTERED 
(
	[SNTaskCounterStateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_SNTaskCounterState_SN_TC] UNIQUE NONCLUSTERED 
(
	[SerializedItemId] ASC,
	[TaskCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [mro2].[SupportModel]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[SupportModel](
	[SupportModelId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_SupportModel_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_mro2_SupportModel] PRIMARY KEY CLUSTERED 
(
	[SupportModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_SupportModel_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[SupportPositionAllowedPN]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[SupportPositionAllowedPN](
	[SupportPositionAllowedPNId] [int] IDENTITY(1,1) NOT NULL,
	[SupportPositionDefId] [int] NOT NULL,
	[PartNumberId] [int] NOT NULL,
	[IsPreferred] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](200) NULL,
 CONSTRAINT [PK_mro2_SupportPositionAllowedPN] PRIMARY KEY CLUSTERED 
(
	[SupportPositionAllowedPNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_SupportPositionAllowedPN] UNIQUE NONCLUSTERED 
(
	[SupportPositionDefId] ASC,
	[PartNumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[SupportPositionDef]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[SupportPositionDef](
	[SupportPositionDefId] [int] IDENTITY(1,1) NOT NULL,
	[SupportModelId] [int] NOT NULL,
	[PositionCode] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[ParentSupportPositionDefId] [int] NULL,
	[ATAId] [int] NULL,
	[IsSerialized] [bit] NOT NULL CONSTRAINT [DF_mro2_SupportPositionDef_IsSerialized]  DEFAULT ((1)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_SupportPositionDef_IsActive]  DEFAULT ((1)),
	[RequiredQty] [int] NOT NULL CONSTRAINT [DF_mro2_SupportPositionDef_RequiredQty]  DEFAULT ((1)),
	[CapacityQty] [int] NOT NULL CONSTRAINT [DF_mro2_SupportPositionDef_CapacityQty]  DEFAULT ((1)),
 CONSTRAINT [PK_mro2_SupportPositionDef] PRIMARY KEY CLUSTERED 
(
	[SupportPositionDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_SupportPositionDef] UNIQUE NONCLUSTERED 
(
	[SupportModelId] ASC,
	[PositionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[TaskCounter]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[TaskCounter](
	[TaskCounterId] [int] IDENTITY(1,1) NOT NULL,
	[PNLimitId] [int] NOT NULL,
	[CounterDefId] [int] NOT NULL,
	[CounterBasisId] [tinyint] NOT NULL,
	[FirstThreshold] [int] NOT NULL,
	[RepeatInterval] [int] NULL,
	[Ceiling] [int] NULL,
	[AlertThresholdPct] [tinyint] NOT NULL CONSTRAINT [DF_TaskCounter_AlertPct]  DEFAULT ((90)),
	[DisplayLabel] [nvarchar](200) NULL,
	[Notes] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_TaskCounter_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_TaskCounter_Created]  DEFAULT (getdate()),
	[CreatedByUserId] [nvarchar](50) NOT NULL,
	[MaxExtensionPct] [tinyint] NULL,
	[MaxExtensionValue] [int] NULL,
 CONSTRAINT [PK_TaskCounter] PRIMARY KEY CLUSTERED 
(
	[TaskCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TaskCounter_Limit_Counter] UNIQUE NONCLUSTERED 
(
	[PNLimitId] ASC,
	[CounterDefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[UnitOfMeasure]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[UnitOfMeasure](
	[UnitOfMeasureId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_UnitOfMeasure_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_mro2_UnitOfMeasure] PRIMARY KEY CLUSTERED 
(
	[UnitOfMeasureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_UnitOfMeasure_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [mro2].[Workshop]    Script Date: 18-Apr-26 08:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mro2].[Workshop](
	[WorkshopId] [int] IDENTITY(1,1) NOT NULL,
	[AcMainGroupID] [int] NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[BaseId] [int] NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_mro2_Workshop_IsActive]  DEFAULT ((1)),
 CONSTRAINT [PK_mro2_Workshop] PRIMARY KEY CLUSTERED 
(
	[WorkshopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_mro2_Workshop_Group_Code] UNIQUE NONCLUSTERED 
(
	[AcMainGroupID] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [mro2].[AcCounter] ADD  CONSTRAINT [DF_AcCounter_CurrentValue]  DEFAULT ((0)) FOR [CurrentValue]
GO
ALTER TABLE [mro2].[AcCounter] ADD  CONSTRAINT [DF_AcCounter_PreviousValue]  DEFAULT ((0)) FOR [PreviousValue]
GO
ALTER TABLE [mro2].[AcCounter] ADD  CONSTRAINT [DF_AcCounter_Source]  DEFAULT ('MANUAL') FOR [LastUpdateSource]
GO
ALTER TABLE [mro2].[AcCounter] ADD  CONSTRAINT [DF_AcCounter_Updated]  DEFAULT (getdate()) FOR [LastUpdatedDate]
GO
ALTER TABLE [mro2].[AcCounterLog] ADD  CONSTRAINT [DF_AcCounterLog_Date]  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [mro2].[AcCounterLog] ADD  CONSTRAINT [DF_AcCounterLog_SNs]  DEFAULT ((0)) FOR [SNsPropagated]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] ADD  CONSTRAINT [DF_SNTCExt_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] ADD  CONSTRAINT [DF_SNTCExt_Created]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] ADD  CONSTRAINT [DF_SNTCOverride_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] ADD  CONSTRAINT [DF_SNTCOverride_Created]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [mro2].[SupportPositionAllowedPN] ADD  CONSTRAINT [DF_mro2_SupportPositionAllowedPN_IsPreferred]  DEFAULT ((0)) FOR [IsPreferred]
GO
ALTER TABLE [mro2].[SupportPositionAllowedPN] ADD  CONSTRAINT [DF_mro2_SupportPositionAllowedPN_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tblAcStatus]  WITH CHECK ADD  CONSTRAINT [FK_tblAcStatus_tblAcStatusType] FOREIGN KEY([AcStatusTypeID])
REFERENCES [dbo].[tblAcStatusType] ([AcStatusTypeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAcStatus] CHECK CONSTRAINT [FK_tblAcStatus_tblAcStatusType]
GO
ALTER TABLE [dbo].[tblAcStatus]  WITH CHECK ADD  CONSTRAINT [FK_tblAcStatus_tblAircraft] FOREIGN KEY([AcID])
REFERENCES [dbo].[tblAircraft] ([AcID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAcStatus] CHECK CONSTRAINT [FK_tblAcStatus_tblAircraft]
GO
ALTER TABLE [dbo].[tblAcType]  WITH CHECK ADD  CONSTRAINT [FK_tblAcType_tblAcMainGroup] FOREIGN KEY([AcMainGroupID])
REFERENCES [dbo].[tblAcMainGroup] ([AcMainGroupID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAcType] CHECK CONSTRAINT [FK_tblAcType_tblAcMainGroup]
GO
ALTER TABLE [dbo].[tblAircraft]  WITH CHECK ADD  CONSTRAINT [FK_tblAircraft_AcType] FOREIGN KEY([AcTypeID])
REFERENCES [dbo].[tblAcType] ([AcTypeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAircraft] CHECK CONSTRAINT [FK_tblAircraft_AcType]
GO
ALTER TABLE [dbo].[tblAircraft]  WITH CHECK ADD  CONSTRAINT [FK_tblAircraft_tblAcGeoPositionType] FOREIGN KEY([AcGeoPosID])
REFERENCES [dbo].[tblAcGeoPositionType] ([AcGeoPosID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAircraft] CHECK CONSTRAINT [FK_tblAircraft_tblAcGeoPositionType]
GO
ALTER TABLE [dbo].[tblAircraft]  WITH CHECK ADD  CONSTRAINT [FK_tblAircraft_tblAcMainGroup] FOREIGN KEY([AcMainGroupID])
REFERENCES [dbo].[tblAcMainGroup] ([AcMainGroupID])
GO
ALTER TABLE [dbo].[tblAircraft] CHECK CONSTRAINT [FK_tblAircraft_tblAcMainGroup]
GO
ALTER TABLE [mro2].[AcCounter]  WITH CHECK ADD  CONSTRAINT [FK_AcCounter_Aircraft] FOREIGN KEY([AcID])
REFERENCES [dbo].[tblAircraft] ([AcID])
GO
ALTER TABLE [mro2].[AcCounter] CHECK CONSTRAINT [FK_AcCounter_Aircraft]
GO
ALTER TABLE [mro2].[AcCounter]  WITH CHECK ADD  CONSTRAINT [FK_AcCounter_CounterDef] FOREIGN KEY([CounterDefId])
REFERENCES [mro2].[CounterDef] ([CounterDefId])
GO
ALTER TABLE [mro2].[AcCounter] CHECK CONSTRAINT [FK_AcCounter_CounterDef]
GO
ALTER TABLE [mro2].[AcCounterLog]  WITH CHECK ADD  CONSTRAINT [FK_AcCounterLog_Aircraft] FOREIGN KEY([AcID])
REFERENCES [dbo].[tblAircraft] ([AcID])
GO
ALTER TABLE [mro2].[AcCounterLog] CHECK CONSTRAINT [FK_AcCounterLog_Aircraft]
GO
ALTER TABLE [mro2].[AcCounterLog]  WITH CHECK ADD  CONSTRAINT [FK_AcCounterLog_CounterDef] FOREIGN KEY([CounterDefId])
REFERENCES [mro2].[CounterDef] ([CounterDefId])
GO
ALTER TABLE [mro2].[AcCounterLog] CHECK CONSTRAINT [FK_AcCounterLog_CounterDef]
GO
ALTER TABLE [mro2].[AcCounterSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_AcCS_CounterDef] FOREIGN KEY([CounterDefId])
REFERENCES [mro2].[CounterDef] ([CounterDefId])
GO
ALTER TABLE [mro2].[AcCounterSnapshot] CHECK CONSTRAINT [FK_AcCS_CounterDef]
GO
ALTER TABLE [mro2].[AcCounterSnapshot]  WITH CHECK ADD  CONSTRAINT [FK_AcCS_RecordEvent] FOREIGN KEY([RecordEventId])
REFERENCES [mro2].[RecordEvent] ([RecordEventId])
GO
ALTER TABLE [mro2].[AcCounterSnapshot] CHECK CONSTRAINT [FK_AcCS_RecordEvent]
GO
ALTER TABLE [mro2].[AcPosition]  WITH CHECK ADD  CONSTRAINT [FK_AcPosition_Aircraft] FOREIGN KEY([AcID])
REFERENCES [dbo].[tblAircraft] ([AcID])
GO
ALTER TABLE [mro2].[AcPosition] CHECK CONSTRAINT [FK_AcPosition_Aircraft]
GO
ALTER TABLE [mro2].[AcPosition]  WITH CHECK ADD  CONSTRAINT [FK_AcPosition_ATA] FOREIGN KEY([ATAId])
REFERENCES [mro2].[ATA] ([ATAId])
GO
ALTER TABLE [mro2].[AcPosition] CHECK CONSTRAINT [FK_AcPosition_ATA]
GO
ALTER TABLE [mro2].[AcPosition]  WITH CHECK ADD  CONSTRAINT [FK_AcPosition_Parent] FOREIGN KEY([ParentAcPositionId])
REFERENCES [mro2].[AcPosition] ([AcPositionId])
GO
ALTER TABLE [mro2].[AcPosition] CHECK CONSTRAINT [FK_AcPosition_Parent]
GO
ALTER TABLE [mro2].[AcPosition]  WITH CHECK ADD  CONSTRAINT [FK_AcPosition_Template] FOREIGN KEY([AcPositionTemplateId])
REFERENCES [mro2].[AcPositionTemplate] ([AcPositionTemplateId])
GO
ALTER TABLE [mro2].[AcPosition] CHECK CONSTRAINT [FK_AcPosition_Template]
GO
ALTER TABLE [mro2].[AcPositionPN]  WITH CHECK ADD  CONSTRAINT [FK_AcPosPN_PartNumber] FOREIGN KEY([PartNumberId])
REFERENCES [mro2].[PartNumber] ([PartNumberId])
GO
ALTER TABLE [mro2].[AcPositionPN] CHECK CONSTRAINT [FK_AcPosPN_PartNumber]
GO
ALTER TABLE [mro2].[AcPositionPN]  WITH CHECK ADD  CONSTRAINT [FK_AcPosPN_Template] FOREIGN KEY([AcPositionTemplateId])
REFERENCES [mro2].[AcPositionTemplate] ([AcPositionTemplateId])
GO
ALTER TABLE [mro2].[AcPositionPN] CHECK CONSTRAINT [FK_AcPosPN_Template]
GO
ALTER TABLE [mro2].[AcPositionTemplate]  WITH CHECK ADD  CONSTRAINT [FK_AcPosTmpl_AcType] FOREIGN KEY([AcTypeId])
REFERENCES [dbo].[tblAcType] ([AcTypeId])
GO
ALTER TABLE [mro2].[AcPositionTemplate] CHECK CONSTRAINT [FK_AcPosTmpl_AcType]
GO
ALTER TABLE [mro2].[AcPositionTemplate]  WITH CHECK ADD  CONSTRAINT [FK_AcPosTmpl_ATA] FOREIGN KEY([ATAId])
REFERENCES [mro2].[ATA] ([ATAId])
GO
ALTER TABLE [mro2].[AcPositionTemplate] CHECK CONSTRAINT [FK_AcPosTmpl_ATA]
GO
ALTER TABLE [mro2].[AcPositionTemplate]  WITH CHECK ADD  CONSTRAINT [FK_AcPosTmpl_Parent] FOREIGN KEY([ParentTemplatePositionId])
REFERENCES [mro2].[AcPositionTemplate] ([AcPositionTemplateId])
GO
ALTER TABLE [mro2].[AcPositionTemplate] CHECK CONSTRAINT [FK_AcPosTmpl_Parent]
GO
ALTER TABLE [mro2].[AcTypeSupportModelMap]  WITH CHECK ADD  CONSTRAINT [FK_mro2_AcTypeSupportModelMap_SupportModel] FOREIGN KEY([SupportModelId])
REFERENCES [mro2].[SupportModel] ([SupportModelId])
GO
ALTER TABLE [mro2].[AcTypeSupportModelMap] CHECK CONSTRAINT [FK_mro2_AcTypeSupportModelMap_SupportModel]
GO
ALTER TABLE [mro2].[AircraftSupportModel]  WITH CHECK ADD  CONSTRAINT [FK_mro2_AircraftSupportModel_Model] FOREIGN KEY([SupportModelId])
REFERENCES [mro2].[SupportModel] ([SupportModelId])
GO
ALTER TABLE [mro2].[AircraftSupportModel] CHECK CONSTRAINT [FK_mro2_AircraftSupportModel_Model]
GO
ALTER TABLE [mro2].[CounterDef]  WITH CHECK ADD  CONSTRAINT [FK_CounterDef_CounterType] FOREIGN KEY([CounterTypeId])
REFERENCES [mro2].[CounterType] ([CounterTypeId])
GO
ALTER TABLE [mro2].[CounterDef] CHECK CONSTRAINT [FK_CounterDef_CounterType]
GO
ALTER TABLE [mro2].[InstallPosition]  WITH CHECK ADD  CONSTRAINT [FK_mro2_InstallPosition_SupportPos] FOREIGN KEY([SupportPositionDefId])
REFERENCES [mro2].[SupportPositionDef] ([SupportPositionDefId])
GO
ALTER TABLE [mro2].[InstallPosition] CHECK CONSTRAINT [FK_mro2_InstallPosition_SupportPos]
GO
ALTER TABLE [mro2].[LimitTypeReferenceMap]  WITH CHECK ADD  CONSTRAINT [FK_LTRefMap_CompRef] FOREIGN KEY([ComputationReferenceId])
REFERENCES [mro2].[ComputationReference] ([ComputationReferenceId])
GO
ALTER TABLE [mro2].[LimitTypeReferenceMap] CHECK CONSTRAINT [FK_LTRefMap_CompRef]
GO
ALTER TABLE [mro2].[LimitTypeReferenceMap]  WITH CHECK ADD  CONSTRAINT [FK_LTRefMap_LimitType] FOREIGN KEY([LimitTypeId])
REFERENCES [mro2].[LimitType] ([LimitTypeId])
GO
ALTER TABLE [mro2].[LimitTypeReferenceMap] CHECK CONSTRAINT [FK_LTRefMap_LimitType]
GO
ALTER TABLE [mro2].[PartNumber]  WITH CHECK ADD  CONSTRAINT [FK_mro2_PartNumber_AcMainGroup] FOREIGN KEY([AcMainGroupID])
REFERENCES [dbo].[tblAcMainGroup] ([AcMainGroupID])
GO
ALTER TABLE [mro2].[PartNumber] CHECK CONSTRAINT [FK_mro2_PartNumber_AcMainGroup]
GO
ALTER TABLE [mro2].[PartNumber]  WITH CHECK ADD  CONSTRAINT [FK_mro2_PartNumber_ATA] FOREIGN KEY([ATAId])
REFERENCES [mro2].[ATA] ([ATAId])
GO
ALTER TABLE [mro2].[PartNumber] CHECK CONSTRAINT [FK_mro2_PartNumber_ATA]
GO
ALTER TABLE [mro2].[PartNumber]  WITH CHECK ADD  CONSTRAINT [FK_mro2_PartNumber_UOM] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [mro2].[UnitOfMeasure] ([UnitOfMeasureId])
GO
ALTER TABLE [mro2].[PartNumber] CHECK CONSTRAINT [FK_mro2_PartNumber_UOM]
GO
ALTER TABLE [mro2].[PNLimit]  WITH CHECK ADD  CONSTRAINT [FK_PNLimit_CounterRef] FOREIGN KEY([CounterReferenceId])
REFERENCES [mro2].[CounterReference] ([CounterReferenceId])
GO
ALTER TABLE [mro2].[PNLimit] CHECK CONSTRAINT [FK_PNLimit_CounterRef]
GO
ALTER TABLE [mro2].[PNLimit]  WITH CHECK ADD  CONSTRAINT [FK_PNLimit_LimitType] FOREIGN KEY([LimitTypeId])
REFERENCES [mro2].[LimitType] ([LimitTypeId])
GO
ALTER TABLE [mro2].[PNLimit] CHECK CONSTRAINT [FK_PNLimit_LimitType]
GO
ALTER TABLE [mro2].[PNLimit]  WITH CHECK ADD  CONSTRAINT [FK_PNLimit_PartNumber] FOREIGN KEY([PartNumberId])
REFERENCES [mro2].[PartNumber] ([PartNumberId])
GO
ALTER TABLE [mro2].[PNLimit] CHECK CONSTRAINT [FK_PNLimit_PartNumber]
GO
ALTER TABLE [mro2].[RecordEvent]  WITH CHECK ADD  CONSTRAINT [FK_RE_AcPosition] FOREIGN KEY([AcPositionId])
REFERENCES [mro2].[AcPosition] ([AcPositionId])
GO
ALTER TABLE [mro2].[RecordEvent] CHECK CONSTRAINT [FK_RE_AcPosition]
GO
ALTER TABLE [mro2].[RecordEvent]  WITH CHECK ADD  CONSTRAINT [FK_RE_Aircraft] FOREIGN KEY([AcID])
REFERENCES [dbo].[tblAircraft] ([AcID])
GO
ALTER TABLE [mro2].[RecordEvent] CHECK CONSTRAINT [FK_RE_Aircraft]
GO
ALTER TABLE [mro2].[RecordEvent]  WITH CHECK ADD  CONSTRAINT [FK_RE_SerializedItem] FOREIGN KEY([SerializedItemId])
REFERENCES [mro2].[SerializedItem] ([SerializedItemId])
GO
ALTER TABLE [mro2].[RecordEvent] CHECK CONSTRAINT [FK_RE_SerializedItem]
GO
ALTER TABLE [mro2].[RecordEvent]  WITH CHECK ADD  CONSTRAINT [FK_RE_TaskCounter] FOREIGN KEY([TaskCounterId])
REFERENCES [mro2].[TaskCounter] ([TaskCounterId])
GO
ALTER TABLE [mro2].[RecordEvent] CHECK CONSTRAINT [FK_RE_TaskCounter]
GO
ALTER TABLE [mro2].[SerializedItem]  WITH CHECK ADD  CONSTRAINT [FK_mro2_SerializedItem_PN] FOREIGN KEY([PartNumberId])
REFERENCES [mro2].[PartNumber] ([PartNumberId])
GO
ALTER TABLE [mro2].[SerializedItem] CHECK CONSTRAINT [FK_mro2_SerializedItem_PN]
GO
ALTER TABLE [mro2].[SerializedItemCurrentInstall]  WITH CHECK ADD  CONSTRAINT [FK_mro2_SerializedItemCurrentInstall_ParentKind] FOREIGN KEY([ParentAssetKindId])
REFERENCES [mro2].[AssetKind] ([AssetKindId])
GO
ALTER TABLE [mro2].[SerializedItemCurrentInstall] CHECK CONSTRAINT [FK_mro2_SerializedItemCurrentInstall_ParentKind]
GO
ALTER TABLE [mro2].[SerializedItemCurrentInstall]  WITH CHECK ADD  CONSTRAINT [FK_mro2_SerializedItemCurrentInstall_Position] FOREIGN KEY([InstallPositionId])
REFERENCES [mro2].[InstallPosition] ([InstallPositionId])
GO
ALTER TABLE [mro2].[SerializedItemCurrentInstall] CHECK CONSTRAINT [FK_mro2_SerializedItemCurrentInstall_Position]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [FK_SNTCExt_Reason] FOREIGN KEY([ExtensionReasonId])
REFERENCES [mro2].[ExtensionReason] ([ExtensionReasonId])
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [FK_SNTCExt_Reason]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [FK_SNTCExt_SN] FOREIGN KEY([SerializedItemId])
REFERENCES [mro2].[SerializedItem] ([SerializedItemId])
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [FK_SNTCExt_SN]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [FK_SNTCExt_TC] FOREIGN KEY([TaskCounterId])
REFERENCES [mro2].[TaskCounter] ([TaskCounterId])
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [FK_SNTCExt_TC]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride]  WITH CHECK ADD  CONSTRAINT [FK_SNTCOverride_SN] FOREIGN KEY([SerializedItemId])
REFERENCES [mro2].[SerializedItem] ([SerializedItemId])
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] CHECK CONSTRAINT [FK_SNTCOverride_SN]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride]  WITH CHECK ADD  CONSTRAINT [FK_SNTCOverride_TC] FOREIGN KEY([TaskCounterId])
REFERENCES [mro2].[TaskCounter] ([TaskCounterId])
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] CHECK CONSTRAINT [FK_SNTCOverride_TC]
GO
ALTER TABLE [mro2].[SNTaskCounterState]  WITH CHECK ADD  CONSTRAINT [FK_SNTCState_SN] FOREIGN KEY([SerializedItemId])
REFERENCES [mro2].[SerializedItem] ([SerializedItemId])
GO
ALTER TABLE [mro2].[SNTaskCounterState] CHECK CONSTRAINT [FK_SNTCState_SN]
GO
ALTER TABLE [mro2].[SNTaskCounterState]  WITH CHECK ADD  CONSTRAINT [FK_SNTCState_TC] FOREIGN KEY([TaskCounterId])
REFERENCES [mro2].[TaskCounter] ([TaskCounterId])
GO
ALTER TABLE [mro2].[SNTaskCounterState] CHECK CONSTRAINT [FK_SNTCState_TC]
GO
ALTER TABLE [mro2].[SupportPositionAllowedPN]  WITH CHECK ADD  CONSTRAINT [FK_mro2_SupportPositionAllowedPN_PN] FOREIGN KEY([PartNumberId])
REFERENCES [mro2].[PartNumber] ([PartNumberId])
GO
ALTER TABLE [mro2].[SupportPositionAllowedPN] CHECK CONSTRAINT [FK_mro2_SupportPositionAllowedPN_PN]
GO
ALTER TABLE [mro2].[SupportPositionAllowedPN]  WITH CHECK ADD  CONSTRAINT [FK_mro2_SupportPositionAllowedPN_Pos] FOREIGN KEY([SupportPositionDefId])
REFERENCES [mro2].[SupportPositionDef] ([SupportPositionDefId])
GO
ALTER TABLE [mro2].[SupportPositionAllowedPN] CHECK CONSTRAINT [FK_mro2_SupportPositionAllowedPN_Pos]
GO
ALTER TABLE [mro2].[SupportPositionDef]  WITH CHECK ADD  CONSTRAINT [FK_mro2_SupportPositionDef_ATA] FOREIGN KEY([ATAId])
REFERENCES [mro2].[ATA] ([ATAId])
GO
ALTER TABLE [mro2].[SupportPositionDef] CHECK CONSTRAINT [FK_mro2_SupportPositionDef_ATA]
GO
ALTER TABLE [mro2].[SupportPositionDef]  WITH CHECK ADD  CONSTRAINT [FK_mro2_SupportPositionDef_Model] FOREIGN KEY([SupportModelId])
REFERENCES [mro2].[SupportModel] ([SupportModelId])
GO
ALTER TABLE [mro2].[SupportPositionDef] CHECK CONSTRAINT [FK_mro2_SupportPositionDef_Model]
GO
ALTER TABLE [mro2].[SupportPositionDef]  WITH CHECK ADD  CONSTRAINT [FK_mro2_SupportPositionDef_Parent] FOREIGN KEY([ParentSupportPositionDefId])
REFERENCES [mro2].[SupportPositionDef] ([SupportPositionDefId])
GO
ALTER TABLE [mro2].[SupportPositionDef] CHECK CONSTRAINT [FK_mro2_SupportPositionDef_Parent]
GO
ALTER TABLE [mro2].[TaskCounter]  WITH CHECK ADD  CONSTRAINT [FK_TaskCounter_CounterBasis] FOREIGN KEY([CounterBasisId])
REFERENCES [mro2].[CounterBasis] ([CounterBasisId])
GO
ALTER TABLE [mro2].[TaskCounter] CHECK CONSTRAINT [FK_TaskCounter_CounterBasis]
GO
ALTER TABLE [mro2].[TaskCounter]  WITH CHECK ADD  CONSTRAINT [FK_TaskCounter_CounterDef] FOREIGN KEY([CounterDefId])
REFERENCES [mro2].[CounterDef] ([CounterDefId])
GO
ALTER TABLE [mro2].[TaskCounter] CHECK CONSTRAINT [FK_TaskCounter_CounterDef]
GO
ALTER TABLE [mro2].[TaskCounter]  WITH CHECK ADD  CONSTRAINT [FK_TaskCounter_PNLimit] FOREIGN KEY([PNLimitId])
REFERENCES [mro2].[PNLimit] ([PNLimitId])
GO
ALTER TABLE [mro2].[TaskCounter] CHECK CONSTRAINT [FK_TaskCounter_PNLimit]
GO
ALTER TABLE [mro2].[Workshop]  WITH CHECK ADD  CONSTRAINT [FK_mro2_Workshop_AcMainGroup] FOREIGN KEY([AcMainGroupID])
REFERENCES [dbo].[tblAcMainGroup] ([AcMainGroupID])
GO
ALTER TABLE [mro2].[Workshop] CHECK CONSTRAINT [FK_mro2_Workshop_AcMainGroup]
GO
ALTER TABLE [mro2].[AcCounter]  WITH CHECK ADD  CONSTRAINT [CK_AcCounter_Source] CHECK  (([LastUpdateSource]='MANUAL' OR [LastUpdateSource]='AUTO'))
GO
ALTER TABLE [mro2].[AcCounter] CHECK CONSTRAINT [CK_AcCounter_Source]
GO
ALTER TABLE [mro2].[AcCounter]  WITH CHECK ADD  CONSTRAINT [CK_AcCounter_Value] CHECK  (([CurrentValue]>=(0)))
GO
ALTER TABLE [mro2].[AcCounter] CHECK CONSTRAINT [CK_AcCounter_Value]
GO
ALTER TABLE [mro2].[AcCounterLog]  WITH CHECK ADD  CONSTRAINT [CK_AcCounterLog_Source] CHECK  (([UpdateSource]='MANUAL' OR [UpdateSource]='AUTO'))
GO
ALTER TABLE [mro2].[AcCounterLog] CHECK CONSTRAINT [CK_AcCounterLog_Source]
GO
ALTER TABLE [mro2].[AcPosition]  WITH CHECK ADD  CONSTRAINT [CK_AcPosition_Level] CHECK  (([PositionLevel]=(3) OR [PositionLevel]=(2) OR [PositionLevel]=(1)))
GO
ALTER TABLE [mro2].[AcPosition] CHECK CONSTRAINT [CK_AcPosition_Level]
GO
ALTER TABLE [mro2].[AcPosition]  WITH CHECK ADD  CONSTRAINT [CK_AcPosition_Quantity] CHECK  (([Quantity]>=(1)))
GO
ALTER TABLE [mro2].[AcPosition] CHECK CONSTRAINT [CK_AcPosition_Quantity]
GO
ALTER TABLE [mro2].[AcPosition]  WITH CHECK ADD  CONSTRAINT [CK_AcPosition_SlotNo] CHECK  (([SlotNo] IS NULL OR [SlotNo]>=(1)))
GO
ALTER TABLE [mro2].[AcPosition] CHECK CONSTRAINT [CK_AcPosition_SlotNo]
GO
ALTER TABLE [mro2].[AcPositionTemplate]  WITH CHECK ADD  CONSTRAINT [CK_AcPosTmpl_Level] CHECK  (([PositionLevel]=(3) OR [PositionLevel]=(2) OR [PositionLevel]=(1)))
GO
ALTER TABLE [mro2].[AcPositionTemplate] CHECK CONSTRAINT [CK_AcPosTmpl_Level]
GO
ALTER TABLE [mro2].[AcPositionTemplate]  WITH CHECK ADD  CONSTRAINT [CK_AcPosTmpl_Quantity] CHECK  (([Quantity]>=(1)))
GO
ALTER TABLE [mro2].[AcPositionTemplate] CHECK CONSTRAINT [CK_AcPosTmpl_Quantity]
GO
ALTER TABLE [mro2].[CounterDef]  WITH CHECK ADD  CONSTRAINT [CK_CounterDef_AssetKind] CHECK  (([AppliesToAssetKindCode]='COMPONENT' OR [AppliesToAssetKindCode]='AIRCRAFT'))
GO
ALTER TABLE [mro2].[CounterDef] CHECK CONSTRAINT [CK_CounterDef_AssetKind]
GO
ALTER TABLE [mro2].[CounterDef]  WITH CHECK ADD  CONSTRAINT [CK_CounterDef_UnitStorage] CHECK  (([UnitStorage]='COUNT' OR [UnitStorage]='MINUTES'))
GO
ALTER TABLE [mro2].[CounterDef] CHECK CONSTRAINT [CK_CounterDef_UnitStorage]
GO
ALTER TABLE [mro2].[CounterReference]  WITH CHECK ADD  CONSTRAINT [CK_CounterRef_Category] CHECK  (([RefCategory]='DOCUMENT' OR [RefCategory]='EVENT'))
GO
ALTER TABLE [mro2].[CounterReference] CHECK CONSTRAINT [CK_CounterRef_Category]
GO
ALTER TABLE [mro2].[CounterType]  WITH CHECK ADD  CONSTRAINT [CK_CounterType_UnitStorage] CHECK  (([UnitStorage]='COUNT' OR [UnitStorage]='MINUTES'))
GO
ALTER TABLE [mro2].[CounterType] CHECK CONSTRAINT [CK_CounterType_UnitStorage]
GO
ALTER TABLE [mro2].[PNLimit]  WITH CHECK ADD  CONSTRAINT [CK_PNLimit_AlertPct] CHECK  (([AlertThresholdPct]>=(1) AND [AlertThresholdPct]<=(99)))
GO
ALTER TABLE [mro2].[PNLimit] CHECK CONSTRAINT [CK_PNLimit_AlertPct]
GO
ALTER TABLE [mro2].[PNLimit]  WITH CHECK ADD  CONSTRAINT [CK_PNLimit_HardLimit] CHECK  (([HardLimit]>(0)))
GO
ALTER TABLE [mro2].[PNLimit] CHECK CONSTRAINT [CK_PNLimit_HardLimit]
GO
ALTER TABLE [mro2].[RecordEvent]  WITH CHECK ADD  CONSTRAINT [CK_RE_EventType] CHECK  (([EventType]='INSPECT' OR [EventType]='TRANSFER' OR [EventType]='REMOVE' OR [EventType]='INSTALL'))
GO
ALTER TABLE [mro2].[RecordEvent] CHECK CONSTRAINT [CK_RE_EventType]
GO
ALTER TABLE [mro2].[RecordEvent]  WITH CHECK ADD  CONSTRAINT [CK_RE_InspectNeedsTask] CHECK  (([EventType]<>'INSPECT' OR [TaskCounterId] IS NOT NULL))
GO
ALTER TABLE [mro2].[RecordEvent] CHECK CONSTRAINT [CK_RE_InspectNeedsTask]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_Computed] CHECK  (([ComputedExtensionUnits]>(0)))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_Computed]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_ExpiredReason] CHECK  (([ExpiredReason] IS NULL OR ([ExpiredReason]='REVOKED' OR [ExpiredReason]='ACCOMPLISHED')))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_ExpiredReason]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_Extended] CHECK  (([ExtendedNextDueAt]>[OriginalNextDueAt]))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_Extended]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_Type] CHECK  (([ExtensionType]='PCT' OR [ExtensionType]='VALUE'))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_Type]
GO
ALTER TABLE [mro2].[SNTaskCounterExtension]  WITH CHECK ADD  CONSTRAINT [CK_SNTCExt_Value] CHECK  (([ExtensionValue]>(0)))
GO
ALTER TABLE [mro2].[SNTaskCounterExtension] CHECK CONSTRAINT [CK_SNTCExt_Value]
GO
ALTER TABLE [mro2].[SNTaskCounterOverride]  WITH CHECK ADD  CONSTRAINT [CK_SNTCOverride_AlertPct] CHECK  (([AlertThresholdPct] IS NULL OR [AlertThresholdPct]>=(1) AND [AlertThresholdPct]<=(99)))
GO
ALTER TABLE [mro2].[SNTaskCounterOverride] CHECK CONSTRAINT [CK_SNTCOverride_AlertPct]
GO
ALTER TABLE [mro2].[SNTaskCounterState]  WITH CHECK ADD  CONSTRAINT [CK_SNTCState_Source] CHECK  (([ValueSource]='PRORATE' OR [ValueSource]='MANUAL' OR [ValueSource]='AUTO'))
GO
ALTER TABLE [mro2].[SNTaskCounterState] CHECK CONSTRAINT [CK_SNTCState_Source]
GO
ALTER TABLE [mro2].[SNTaskCounterState]  WITH CHECK ADD  CONSTRAINT [CK_SNTCState_Status] CHECK  (([CounterStatus]='COMPLETE' OR [CounterStatus]='EXPIRED' OR [CounterStatus]='OVERDUE' OR [CounterStatus]='DUE' OR [CounterStatus]='ALERT' OR [CounterStatus]='OK'))
GO
ALTER TABLE [mro2].[SNTaskCounterState] CHECK CONSTRAINT [CK_SNTCState_Status]
GO
ALTER TABLE [mro2].[SupportPositionDef]  WITH CHECK ADD  CONSTRAINT [CK_mro2_SupportPositionDef_Qty] CHECK  (([RequiredQty]>=(0) AND [CapacityQty]>=(0) AND [RequiredQty]<=[CapacityQty]))
GO
ALTER TABLE [mro2].[SupportPositionDef] CHECK CONSTRAINT [CK_mro2_SupportPositionDef_Qty]
GO
ALTER TABLE [mro2].[TaskCounter]  WITH CHECK ADD  CONSTRAINT [CK_TaskCounter_AlertPct] CHECK  (([AlertThresholdPct]>=(1) AND [AlertThresholdPct]<=(99)))
GO
ALTER TABLE [mro2].[TaskCounter] CHECK CONSTRAINT [CK_TaskCounter_AlertPct]
GO
ALTER TABLE [mro2].[TaskCounter]  WITH CHECK ADD  CONSTRAINT [CK_TaskCounter_Ceiling] CHECK  (([Ceiling] IS NULL OR [Ceiling]>=[FirstThreshold]))
GO
ALTER TABLE [mro2].[TaskCounter] CHECK CONSTRAINT [CK_TaskCounter_Ceiling]
GO
ALTER TABLE [mro2].[TaskCounter]  WITH CHECK ADD  CONSTRAINT [CK_TaskCounter_FirstThreshold] CHECK  (([FirstThreshold]>(0)))
GO
ALTER TABLE [mro2].[TaskCounter] CHECK CONSTRAINT [CK_TaskCounter_FirstThreshold]
GO
ALTER TABLE [mro2].[TaskCounter]  WITH CHECK ADD  CONSTRAINT [CK_TaskCounter_RepeatInterval] CHECK  (([RepeatInterval] IS NULL OR [RepeatInterval]>(0)))
GO
ALTER TABLE [mro2].[TaskCounter] CHECK CONSTRAINT [CK_TaskCounter_RepeatInterval]
GO
