USE [DB2BAFRA]
GO
/****** Object:  View [mro2].[vw_AcPositionTree]    Script Date: 18-Apr-26 08:53:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [mro2].[vw_AcPositionTree]
AS
SELECT
    pos.AcPositionId,
    pos.AcID,

    -- Instance-aware display code for slot level
    CASE
        WHEN pos.PositionLevel = 3 AND pos.SlotNo IS NOT NULL AND pos.Quantity > 1
            THEN pos.PositionCode + '-' + CAST(pos.SlotNo AS varchar(3))
        ELSE pos.PositionCode
    END AS PositionCode,

    pos.Description,
    pos.PositionLevel,
    pos.Quantity,
    pos.SlotNo,
    pos.IsInterchangeable,
    pos.IsOverride,
    pos.IsActive,
    pos.AcPositionTemplateId,
    pos.SortOrder,

    pos.ATAId,
    ata.ATACode,

    sys.AcPositionId AS SystemPositionId,
    sys.PositionCode AS SystemCode,
    sys.Description  AS SystemName,

    zon.AcPositionId AS ZonePositionId,
    zon.PositionCode AS ZoneCode,
    zon.Description  AS ZoneName,

    ISNULL(zon.PositionCode,'') + ' / ' +
    ISNULL(sys.PositionCode,'') + ' / ' +
    (CASE
        WHEN pos.PositionLevel = 3 AND pos.SlotNo IS NOT NULL AND pos.Quantity > 1
            THEN pos.PositionCode + '-' + CAST(pos.SlotNo AS varchar(3))
        ELSE pos.PositionCode
     END) AS FullPath,

    ac.TailNo,
    acg.AcMainGroup AS AcMainGroupName,
    act.AcType      AS AcTypeName

FROM mro2.AcPosition pos
LEFT JOIN mro2.AcPosition sys ON sys.AcPositionId = pos.ParentAcPositionId
LEFT JOIN mro2.AcPosition zon ON zon.AcPositionId = sys.ParentAcPositionId
LEFT JOIN mro2.ATA ata        ON ata.ATAId        = pos.ATAId
LEFT JOIN dbo.tblAircraft ac  ON ac.AcID          = pos.AcID
LEFT JOIN dbo.tblAcMainGroup acg ON acg.AcMainGroupID= ac.AcMainGroupID
LEFT JOIN dbo.tblAcType act   ON act.AcTypeId     = ac.AcTypeID;

GO
/****** Object:  View [mro2].[vw_SNHistory]    Script Date: 18-Apr-26 08:53:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [mro2].[vw_SNHistory]
AS
SELECT
    re.RecordEventId,
    re.SerializedItemId,
    si.SerialNumber,
    pn.PN,
    pn.Nomenclature,
    re.EventType,
    re.AcID,
    ac.TailNo,
    re.AcPositionId,
    pos.PositionCode,
    pos.FullPath,
    re.EventDate,
    re.EventTime,
    re.WorkOrderRef,
    re.Remarks,
    re.TransferGroupId,
    re.TaskCounterId,
    tc.TaskCounterId                AS LinkedTaskCounterId,
    re.PerformedByUserId,
    re.AuthorisedByUserId,
    re.CreatedDate,
    -- Aircraft FH at this event
    cs_fh.CounterValue              AS AcFH_AtEvent,
    -- Aircraft FC at this event
    cs_fc.CounterValue              AS AcFC_AtEvent
FROM mro2.RecordEvent re
INNER JOIN mro2.SerializedItem      si  ON si.SerializedItemId = re.SerializedItemId
INNER JOIN mro2.PartNumber          pn  ON pn.PartNumberId     = si.PartNumberId
INNER JOIN dbo.tblAircraft          ac  ON ac.AcID             = re.AcID
INNER JOIN mro2.AcPosition          ap  ON ap.AcPositionId     = re.AcPositionId
INNER JOIN mro2.vw_AcPositionTree   pos ON pos.AcPositionId    = re.AcPositionId
LEFT  JOIN mro2.TaskCounter         tc  ON tc.TaskCounterId    = re.TaskCounterId
-- FH snapshot
LEFT  JOIN mro2.AcCounterSnapshot   cs_fh ON cs_fh.RecordEventId = re.RecordEventId
LEFT  JOIN mro2.CounterDef          cd_fh ON cd_fh.CounterDefId  = cs_fh.CounterDefId
                                         AND cd_fh.Code          = 'AF_FLIGHT_MIN'
-- FC snapshot
LEFT  JOIN mro2.AcCounterSnapshot   cs_fc ON cs_fc.RecordEventId = re.RecordEventId
LEFT  JOIN mro2.CounterDef          cd_fc ON cd_fc.CounterDefId  = cs_fc.CounterDefId
                                         AND cd_fc.Code          = 'AF_CYCLES'
WHERE re.IsActive = 1;

GO
/****** Object:  View [mro2].[vw_CurrentInstallation]    Script Date: 18-Apr-26 08:53:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [mro2].[vw_CurrentInstallation]
AS
WITH LastInstall AS (
    SELECT
        re.AcPositionId,
        re.AcID,
        re.SerializedItemId,
        re.RecordEventId,
        re.EventDate AS InstallDate,
        re.WorkOrderRef,
        re.PerformedByUserId,
        ROW_NUMBER() OVER (
            PARTITION BY re.AcPositionId
            ORDER BY re.RecordEventId DESC
        ) AS rn
    FROM mro2.RecordEvent re
    WHERE re.EventType = 'INSTALL'
      AND re.IsActive  = 1
),
LastRemove AS (
    SELECT
        re.AcPositionId,
        MAX(re.RecordEventId) AS LastRemoveEventId
    FROM mro2.RecordEvent re
    WHERE re.EventType IN ('REMOVE','TRANSFER')
      AND re.IsActive = 1
    GROUP BY re.AcPositionId
),
FH_Snapshot AS (
    SELECT
        cs.RecordEventId,
        cs.CounterValue
    FROM mro2.AcCounterSnapshot cs
    INNER JOIN mro2.CounterDef cd
        ON cd.CounterDefId = cs.CounterDefId
       AND cd.Code = 'AF_FLIGHT_MIN'
)
SELECT
    li.AcPositionId,
    li.AcID,
    ac.TailNo,
    acg.AcMainGroup AS AcMainGroupName,

    pos.PositionCode,
    pos.Description AS PositionDescription,
    pos.PositionLevel,
    pos.ZoneCode,
    pos.SystemCode,
    pos.FullPath,
    pos.ATACode,

    li.SerializedItemId,
    si.SerialNumber,
    pn.PartNumberId,
    pn.PN,
    pn.Nomenclature,

    li.RecordEventId AS InstallEventId,
    li.InstallDate,
    li.WorkOrderRef AS InstallWorkOrderRef,
    li.PerformedByUserId AS InstalledByUserId,

    fh.CounterValue AS AcFH_AtInstall,
    DATEDIFF(DAY, li.InstallDate, CAST(GETDATE() AS DATE)) AS DaysOnWing
FROM LastInstall li
INNER JOIN mro2.vw_AcPositionTree pos
    ON pos.AcPositionId = li.AcPositionId
LEFT JOIN LastRemove lr
    ON lr.AcPositionId = li.AcPositionId
INNER JOIN dbo.tblAircraft     ac  ON ac.AcID           = li.AcID
INNER JOIN dbo.tblAcMainGroup  acg ON acg.AcMainGroupID = ac.AcMainGroupID
INNER JOIN mro2.SerializedItem si  ON si.SerializedItemId = li.SerializedItemId
INNER JOIN mro2.PartNumber     pn  ON pn.PartNumberId     = si.PartNumberId
LEFT JOIN FH_Snapshot fh
    ON fh.RecordEventId = li.RecordEventId
WHERE li.rn = 1
  AND (lr.LastRemoveEventId IS NULL OR lr.LastRemoveEventId < li.RecordEventId)
  AND pos.PositionLevel = 3
  AND pos.IsActive = 1;

GO
/****** Object:  View [mro2].[vw_AircraftConfiguration]    Script Date: 18-Apr-26 08:53:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [mro2].[vw_AircraftConfiguration]
AS
-- Worst status rank: higher = worse
-- EXPIRED=4, DUE=3, ALERT=2, OK=1, no SN=0
WITH StatusRank AS (
    SELECT
        st.SerializedItemId,
        tc.PNLimitId,
        pl.PartNumberId,
        -- Numeric rank for worst-status computation
        MAX(CASE st.CounterStatus
                WHEN 'EXPIRED' THEN 4
                WHEN 'DUE'     THEN 3
                WHEN 'ALERT'   THEN 2
                WHEN 'OK'      THEN 1
                ELSE 0
            END)                                AS WorstRank,
        -- Minimum remaining across all counters for this SN
        MIN(st.RemainingToNextDue)              AS MinRemaining,
        COUNT(*)                                AS TotalCounters,
        SUM(CASE WHEN st.CounterStatus IN ('DUE','EXPIRED') THEN 1 ELSE 0 END)
                                                AS OverdueCount,
        SUM(CASE WHEN st.CounterStatus = 'ALERT' THEN 1 ELSE 0 END)
                                                AS AlertCount
    FROM mro2.SNTaskCounterState st
    INNER JOIN mro2.TaskCounter  tc ON tc.TaskCounterId = st.TaskCounterId
    INNER JOIN mro2.PNLimit      pl ON pl.PNLimitId     = tc.PNLimitId
    GROUP BY st.SerializedItemId, tc.PNLimitId, pl.PartNumberId
),
WorstStatus AS (
    SELECT
        SerializedItemId,
        PartNumberId,
        MAX(WorstRank)      AS WorstRank,
        MIN(MinRemaining)   AS MinRemaining,
        SUM(TotalCounters)  AS TotalCounters,
        SUM(OverdueCount)   AS OverdueCount,
        SUM(AlertCount)     AS AlertCount
    FROM StatusRank
    GROUP BY SerializedItemId, PartNumberId
)
SELECT
    -- Position
    pos.AcPositionId,
    pos.AcID,
    pos.TailNo,
    pos.AcMainGroupName,
    pos.AcTypeName,
    pos.PositionCode,
    pos.[Description] PositionDescription,
    pos.ZoneCode,
    pos.ZoneName,
    pos.SystemCode,
    pos.SystemName,
    pos.FullPath,
    pos.ATACode,
    pos.Quantity,
    pos.IsInterchangeable,
    pos.SortOrder,

    -- Installed SN (NULL if empty slot)
    ci.SerializedItemId,
    ci.SerialNumber,
    ci.PartNumberId,
    ci.PN,
    ci.Nomenclature,
    ci.InstallDate,
    ci.AcFH_AtInstall,
    ci.DaysOnWing,
    ci.InstallEventId,
    ci.InstalledByUserId,

    -- Slot occupancy
    CASE WHEN ci.SerializedItemId IS NULL
         THEN 'EMPTY' ELSE 'OCCUPIED' END       AS SlotStatus,

    -- Worst counter status for installed SN
    CASE ws.WorstRank
        WHEN 4 THEN 'EXPIRED'
        WHEN 3 THEN 'DUE'
        WHEN 2 THEN 'ALERT'
        WHEN 1 THEN 'OK'
        ELSE        'NO_DATA'
    END                                         AS WorstCounterStatus,

    -- Counter summary
    ws.MinRemaining,
    ws.TotalCounters,
    ws.OverdueCount,
    ws.AlertCount,

    -- Overall slot health (drives row color in UI)
    -- EMPTY > EXPIRED > DUE > ALERT > NO_DATA > OK
    CASE
        WHEN ci.SerializedItemId IS NULL            THEN 'EMPTY'
        WHEN ws.WorstRank = 4                       THEN 'EXPIRED'
        WHEN ws.WorstRank = 3                       THEN 'DUE'
        WHEN ws.WorstRank = 2                       THEN 'ALERT'
        WHEN ws.WorstRank IS NULL                   THEN 'NO_DATA'
        ELSE                                             'OK'
    END                                         AS SlotHealth,

    -- Allowed PNs for this position (count)
    ISNULL(pnc.PNCount, 0)                      AS AllowedPNCount

FROM mro2.vw_AcPositionTree     pos

-- Current installation (LEFT JOIN — slot may be empty)
LEFT JOIN mro2.vw_CurrentInstallation ci
    ON ci.AcPositionId = pos.AcPositionId

-- Worst status for installed SN
LEFT JOIN WorstStatus ws
    ON ws.SerializedItemId = ci.SerializedItemId
   AND ws.PartNumberId     = ci.PartNumberId

-- Allowed PN count
LEFT JOIN (
    SELECT AcPositionTemplateId, COUNT(*) AS PNCount
    FROM mro2.AcPositionPN WHERE IsActive=1
    GROUP BY AcPositionTemplateId
) pnc ON pnc.AcPositionTemplateId = pos.AcPositionTemplateId

WHERE pos.PositionLevel = 3   -- slots only
  AND pos.IsActive      = 1;


GO
/****** Object:  View [mro2].[vw_SNTaskCounterStatus]    Script Date: 18-Apr-26 08:53:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [mro2].[vw_SNTaskCounterStatus]
AS
SELECT
    -- Identity
    si.SerializedItemId,
    si.SerialNumber,
    pn.PartNumberId,
    pn.PN,
    pn.Nomenclature,
    pl.PNLimitId,
    tc.TaskCounterId,

    -- Counter definition
    cd.CounterDefId,
    cd.Code                                             AS CounterDefCode,
    cd.AppliesToAssetKindCode,
    ct.CounterTypeId,
    ct.Code                                             AS CounterTypeCode,
    ct.DisplayUnit,
    ct.UnitStorage,

    -- Counter basis
    cb.CounterBasisId,
    cb.Code                                             AS CounterBasisCode,
    cb.Name                                             AS CounterBasisName,

    -- Effective task counter values
    -- (SN override wins field-by-field)
    COALESCE(ov.FirstThreshold,    tc.FirstThreshold)   AS EffFirstThreshold,
    COALESCE(ov.RepeatInterval,    tc.RepeatInterval)    AS EffRepeatInterval,
    COALESCE(ov.Ceiling,           tc.Ceiling)           AS EffCeiling,
    COALESCE(ov.AlertThresholdPct, tc.AlertThresholdPct) AS EffAlertPct,

    -- Pre-approved extension limits
    tc.MaxExtensionPct,
    tc.MaxExtensionValue,

    -- Override source
    CASE WHEN ov.SNTaskCounterOverrideId IS NOT NULL
         THEN 'OVERRIDE' ELSE 'PN_DEFAULT' END           AS ValueSource,
    ov.OverrideReason,
    ov.AuthorisedRef,

    -- State
    st.IsFirstDone,
    st.AccumulatedSinceLast,
    st.LifetimeTotal,
    st.LastDoneAt,
    st.LastDoneDate,
    st.DoneCount,

    -- Current interval in effect
    CASE WHEN ISNULL(st.IsFirstDone, 0) = 0
         THEN COALESCE(ov.FirstThreshold,  tc.FirstThreshold)
         ELSE COALESCE(ov.RepeatInterval,  tc.RepeatInterval)
    END                                                 AS CurrentInterval,

    -- Base NextDueAt (without extension)
    st.NextDueAt                                        AS BaseNextDueAt,

    -- ACTIVE EXTENSION (if any)
    ext.SNTaskCounterExtensionId,
    ext.ExtensionReasonId,
    er.Code                                             AS ExtensionReasonCode,
    er.Name                                             AS ExtensionReasonName,
    er.BadgeColor                                       AS ExtensionReasonBadge,
    ext.ExtensionType,
    ext.ExtensionValue,
    ext.ComputedExtensionUnits,
    ext.OriginalNextDueAt,
    ext.ExtendedNextDueAt,
    ext.Justification,
    ext.DocReference,
    ext.ApprovedBy,
    ext.ApprovalDate,

    -- Effective NextDueAt: extension wins if active
    ISNULL(ext.ExtendedNextDueAt, st.NextDueAt)         AS EffNextDueAt,

    -- Extension flag
    CASE WHEN ext.SNTaskCounterExtensionId IS NOT NULL
         THEN 1 ELSE 0 END                              AS HasActiveExtension,

    -- Remaining to effective due (dynamic — authoritative for reports)
    ISNULL(ext.ExtendedNextDueAt, st.NextDueAt)
        - ISNULL(st.LifetimeTotal, 0)                   AS RemainingToNextDueCalc,

    -- Stored remaining (fast dashboard)
    st.RemainingToNextDue                               AS RemainingToNextDueStored,

    -- Remaining to ceiling
    COALESCE(ov.Ceiling, tc.Ceiling)
        - ISNULL(st.LifetimeTotal, 0)                   AS RemainingToCeilingCalc,

    -- Alert threshold value
    ISNULL(ext.ExtendedNextDueAt, st.NextDueAt) -
    (CASE WHEN ISNULL(st.IsFirstDone, 0) = 0
          THEN COALESCE(ov.FirstThreshold,  tc.FirstThreshold)
          ELSE COALESCE(ov.RepeatInterval,  tc.RepeatInterval)
     END
     * COALESCE(ov.AlertThresholdPct, tc.AlertThresholdPct) / 100)
                                                        AS AlertAtValue,

    -- Pct consumed
    st.PctConsumed,

    -- ── DYNAMICALLY RECOMPUTED STATUS ───────────────────────
    -- Uses ExtendedNextDueAt when extension is active.
    CASE
        -- Ceiling reached → EXPIRED
        WHEN COALESCE(ov.Ceiling, tc.Ceiling) IS NOT NULL
         AND ISNULL(st.LifetimeTotal,0) >=
             COALESCE(ov.Ceiling, tc.Ceiling)
        THEN 'EXPIRED'
        -- One-time task done → COMPLETE
        WHEN ISNULL(st.IsFirstDone,0) = 1
         AND COALESCE(ov.RepeatInterval, tc.RepeatInterval) IS NULL
        THEN 'COMPLETE'
        -- Past effective due → DUE
        WHEN ISNULL(ext.ExtendedNextDueAt, st.NextDueAt) IS NOT NULL
         AND ISNULL(st.LifetimeTotal,0) >=
             ISNULL(ext.ExtendedNextDueAt, st.NextDueAt)
        THEN 'DUE'
        -- In alert zone → ALERT
        WHEN ISNULL(ext.ExtendedNextDueAt, st.NextDueAt) IS NOT NULL
         AND ISNULL(st.LifetimeTotal,0) >=
            ISNULL(ext.ExtendedNextDueAt, st.NextDueAt) -
            (CASE WHEN ISNULL(st.IsFirstDone,0) = 0
                  THEN COALESCE(ov.FirstThreshold,  tc.FirstThreshold)
                  ELSE COALESCE(ov.RepeatInterval,  tc.RepeatInterval)
             END
             * COALESCE(ov.AlertThresholdPct, tc.AlertThresholdPct)
             / 100)
        THEN 'ALERT'
        ELSE 'OK'
    END                                                 AS CounterStatusCalc,

    -- Stored status (fast dashboard)
    st.CounterStatus                                    AS CounterStatusStored,

    -- Display label
    ISNULL(tc.DisplayLabel,
        cd.Code + N' — ' +
        CAST(COALESCE(ov.FirstThreshold,
                      tc.FirstThreshold) AS NVARCHAR)
        + N' ' + ct.DisplayUnit
        + CASE
            WHEN COALESCE(ov.RepeatInterval, tc.RepeatInterval) IS NOT NULL
             AND COALESCE(ov.RepeatInterval, tc.RepeatInterval)
              <> COALESCE(ov.FirstThreshold,  tc.FirstThreshold)
            THEN N' then every '
                + CAST(COALESCE(ov.RepeatInterval,
                                tc.RepeatInterval) AS NVARCHAR)
                + N' ' + ct.DisplayUnit
            ELSE N''
          END
        + CASE
            WHEN COALESCE(ov.Ceiling, tc.Ceiling) IS NULL
            THEN N' (no ceiling)'
            ELSE N' until '
                + CAST(COALESCE(ov.Ceiling, tc.Ceiling) AS NVARCHAR)
                + N' ' + ct.DisplayUnit
          END)                                          AS DisplayLabel,

    st.LastUpdatedDate,
    tc.Notes

FROM mro2.TaskCounter tc

INNER JOIN mro2.PNLimit            pl   ON pl.PNLimitId        = tc.PNLimitId
INNER JOIN mro2.CounterDef         cd   ON cd.CounterDefId     = tc.CounterDefId
INNER JOIN mro2.CounterType        ct   ON ct.CounterTypeId    = cd.CounterTypeId
INNER JOIN mro2.CounterBasis       cb   ON cb.CounterBasisId   = tc.CounterBasisId
INNER JOIN mro2.SerializedItem     si   ON si.PartNumberId     = pl.PartNumberId
INNER JOIN mro2.PartNumber         pn   ON pn.PartNumberId     = pl.PartNumberId

LEFT JOIN mro2.SNTaskCounterState  st   ON st.SerializedItemId = si.SerializedItemId
                                       AND st.TaskCounterId    = tc.TaskCounterId

LEFT JOIN mro2.SNTaskCounterOverride ov ON ov.SerializedItemId = si.SerializedItemId
                                       AND ov.TaskCounterId    = tc.TaskCounterId
                                       AND ov.IsActive         = 1
                                       AND (ov.ExpiryDate IS NULL
                                            OR ov.ExpiryDate >=
                                               CAST(GETDATE() AS DATE))

-- Active extension only
LEFT JOIN mro2.SNTaskCounterExtension ext
                                      ON ext.SerializedItemId  = si.SerializedItemId
                                     AND ext.TaskCounterId     = tc.TaskCounterId
                                     AND ext.IsActive          = 1

LEFT JOIN mro2.ExtensionReason      er   ON er.ExtensionReasonId =
                                            ext.ExtensionReasonId

WHERE tc.IsActive = 1
  AND si.IsActive = 1
  AND pn.IsActive = 1;

GO
/****** Object:  View [mro2].[vw_DueList]    Script Date: 18-Apr-26 08:53:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [mro2].[vw_DueList]
AS
SELECT
    -- SN and PN
    v.SerializedItemId,
    v.SerialNumber,
    v.PN,
    v.Nomenclature,
    v.PartNumberId,

    -- Counter definition
    v.TaskCounterId,
    v.CounterDefCode,
    v.CounterTypeCode,
    v.DisplayUnit,
    v.UnitStorage,
    v.CounterBasisCode,

    -- Effective limit values
    v.EffFirstThreshold,
    v.EffRepeatInterval,
    v.EffCeiling,
    v.EffAlertPct,
    v.CurrentInterval,

    -- Counter state
    v.IsFirstDone,
    v.AccumulatedSinceLast,
    v.LifetimeTotal,
    v.BaseNextDueAt NextDueAt,
    v.EffNextDueAt,         -- extension-adjusted due point
    v.RemainingToNextDueCalc,
    v.RemainingToCeilingCalc,
    v.AlertAtValue,
    v.PctConsumed,
    v.CounterStatusCalc     AS CounterStatus,

    -- Last accomplishment
    v.LastDoneDate,
    v.DoneCount,

    -- Extension info
    v.HasActiveExtension,
    v.ExtensionType,
    v.ExtensionValue,
    v.ComputedExtensionUnits,
    v.ExtensionReasonCode,
    v.DocReference          AS ExtensionDocRef,
    v.ApprovedBy            AS ExtensionApprovedBy,

    -- Override info
    v.ValueSource,
    v.OverrideReason,

    -- Display label
    v.DisplayLabel,

    -- Where is this SN installed right now?
    ci.AcID,
    ci.TailNo,
    ci.PositionCode,
    ci.FullPath             AS PositionPath,
    ci.InstallDate,
    ci.DaysOnWing

FROM mro2.vw_SNTaskCounterStatus v

-- Current installation location
LEFT JOIN mro2.vw_CurrentInstallation ci
    ON ci.SerializedItemId = v.SerializedItemId

WHERE v.CounterStatusCalc IN ('EXPIRED','DUE','ALERT');

GO
/****** Object:  View [mro2].[vw_AcCounterCurrent]    Script Date: 18-Apr-26 08:53:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [mro2].[vw_AcCounterCurrent]
AS
SELECT
    ac.AcCounterId,
    ac.AcID,
    ta.TailNo,
    acg.AcMainGroup                     AS AcMainGroupName,
    act.AcType                          AS AcTypeName,

    -- Counter definition
    cd.CounterDefId,
    cd.Code                             AS CounterDefCode,
    cd.Name                             AS CounterDefName,
    cd.AppliesToAssetKindCode,
    cd.UnitStorage,
    ct.DisplayUnit,

    -- Raw value (storage units)
    ac.CurrentValue,
    ac.PreviousValue,
    ac.CurrentValue - ac.PreviousValue  AS LastDelta,

    -- Display value
    -- MINUTES → decimal hours (e.g. 256800 min = 4280.00 hrs)
    CASE WHEN cd.UnitStorage = 'MINUTES'
         THEN CAST(ac.CurrentValue / 60.0 AS DECIMAL(10,1))
         ELSE CAST(ac.CurrentValue AS DECIMAL(10,0))
    END                                 AS DisplayValue,

    ct.DisplayUnit                      AS DisplayUnitLabel,

    -- Update metadata
    ac.LastUpdateSource,
    ac.SortieRef,
    ac.LastUpdatedDate,
    ac.LastUpdatedByUserId

FROM mro2.AcCounter ac
INNER JOIN dbo.tblAircraft    ta  ON ta.AcID          = ac.AcID
INNER JOIN dbo.tblAcMainGroup acg ON acg.AcMainGroupID= ta.AcMainGroupID
INNER JOIN dbo.tblAcType      act ON act.AcTypeId     = ta.AcTypeID
INNER JOIN mro2.CounterDef    cd  ON cd.CounterDefId  = ac.CounterDefId
INNER JOIN mro2.CounterType   ct  ON ct.CounterTypeId = cd.CounterTypeId
WHERE cd.AppliesToAssetKindCode = 'AIRCRAFT'
  AND cd.IsActive               = 1;

GO
/****** Object:  View [mro2].[vw_AircraftPicker]    Script Date: 18-Apr-26 08:53:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [mro2].[vw_AircraftPicker]
AS
SELECT
    a.AcID,
    a.AcTypeID,
    a.TailNo,
    a.IntCode,
    /* One unified display code for UI/audit exports */
    CASE
        WHEN a.IntCode IS NOT NULL AND LTRIM(RTRIM(CAST(a.IntCode AS NVARCHAR(10)))) <> N''
            THEN LTRIM(RTRIM(CAST(a.IntCode AS NVARCHAR(10))))
        WHEN a.TailNo IS NOT NULL
            THEN CAST(a.TailNo AS NVARCHAR(10))
        ELSE
            CAST(a.AcID AS NVARCHAR(10))
    END AS AircraftCode,
    a.Active,
    a.Serviceable
FROM dbo.tblAircraft a
WHERE a.Active = 1;

GO
